* {
	margin: 0;
	padding: 0;
	outline: none!important;
	list-style: none;
	text-decoration: none;
}

*,
a,
font,
span,
label,
input,
button {
	font-family: "微软雅黑";
}


/*所有字体不可复制*/

* {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

html {
	font-size: 14px;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

img {
	border: none;
}

label {
	margin: 0;
}

table {
	border-collapse: collapse;
}

.ovh {
	overflow: hidden;
}

.m0 {
	margin: 0;
}

.tc {
	text-align: center;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.fn {
	float: none!important;
}

.hide {
	display: none;
}

.bgnone {
	background: none;
}

.font_blue {
	color: #409eff;
}

.font_green {
	color: #16b51c;
}

.font_orange {
	color: #ff861e;
}

.font_red {
	color: #ff5722;
}

.font_grey {
	color: #aaa!important;
}

.soniframe {
	display: none;
}

.w100 {
	width: 100%;
}

.mt20 {
	margin: 20px 0 0;
}


/*layui框架修改*/

* {
	outline: none;
}

html {
	color: #333;
	background: #fff;
}

.layui-fluid {
	padding: 10px 40px;
}

.layui-layout-admin .layui-header {
	border-bottom: 1px solid #eee;
	background: #fbfbfb;
}

.layui-layout-admin .layui-logo {
	text-align: left;
}

.layadmin-setTheme-side,
.layui-side-menu,
.layui-layout-admin .layui-logo {
	background: #fff!important;
	background-color: #fff!important;
	box-shadow: none;
	color: #000;
}

.layui-layout-admin .layui-logo {
	font-size: 24px;
	color: #a7bcd2;
	text-shadow: 1px 1px 0px #fff;
	letter-spacing: 1.5px;
	height: 50px;
	padding: 0 10px 0 40px;
	background: #fbfbfb!important;
	border-bottom: 1px solid #eee;
}

.layui-layout-admin .layui-logo .layui-icon {
	display: none;
}

.layadmin-side-shrink .layui-layout-admin .layui-logo {
	padding: 0 10px 0 13px;
}

.layadmin-side-shrink .layui-layout-admin .layui-logo .layui-icon {
	display: block;
	font-size: 30px;
}

.layadmin-side-shrink .layui-layout-admin .layui-logo img {
	display: none;
}

.layui-side-menu .layui-nav {
	box-sizing: border-box;
	border-right: 1px solid #eee;
	margin-top: 89px;
	padding: 0 0 30px;
}

.layui-nav .layui-nav-item a {
	color: #333;
}

.layui-layout-admin .layui-header .layui-nav .layui-this:after,
.layui-layout-admin .layui-header .layui-nav-bar,
.layui-nav-tree .layui-nav-bar {
	background-color: #2790fa;
}

.layui-side-menu .layui-nav .layui-nav-item a {
	height: 50px;
	line-height: 50px;
	padding: 0 10px 0 60px;
}

.layadmin-side-shrink .layui-side-menu .layui-nav .layui-nav-item a {
	padding: 0 0px 0 59px;
}

.layui-nav-tree .layui-nav-itemed>a {
	color: #1989fa;
}

.layui-nav .layui-nav-item a:hover,
.layui-nav .layui-this a,
.layui-nav-tree .layui-nav-title a,
.layui-nav-tree .layui-nav-title a:hover {
	color: #1989fa!important;
}

.layadmin-side-shrink .layui-side-menu .layui-nav>.layui-nav-itemed>a {
	background: rgb(64, 158, 255);
	color: #fff!important;
}

.layui-nav-itemed>.layui-nav-child {
	background-color: transparent!important;
}

.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this>a,
.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a {
	background-color: #fff!important;
}

.layui-side-menu .layui-nav .layui-nav-item .layui-icon {
	left: 40px;
	margin-top: -25px;
}

.layadmin-side-shrink .layui-side-menu .layui-nav .layui-nav-item .layui-icon {
	left: 20px;
}

.layui-side-scroll .layui-nav .layui-nav-more {
	border-color: #333 transparent transparent;
	border-top-color: rgba(0, 0, 0, .7);
	right: 0;
	position: relative;
	top: 11px;
	left: 5px;
}

.layui-side-scroll .layui-nav-itemed>a .layui-nav-more {
	top: -11px;
	border-color: transparent transparent #409eff;
}

.layui-card .layui-tab-brief .layui-tab-title {
	clear: both;
}

.layui-card .layui-tab-brief .layui-tab-title li {
	margin: 0 20px 0 0;
}

.layui-card .layui-tab-brief .layui-tab-title li:hover,
.layui-card .layui-tab-brief .layui-tab-title li.layui-this {
	color: #409eff;
}

.layadmin-pagetabs {
	box-shadow: none;
	border-bottom: 1px solid #eee;
}

.layadmin-pagetabs .layui-tab-title li.layui-this,
.layadmin-pagetabs .layui-tab-title li:hover {
	background-color: #fff;
}

.layadmin-pagetabs .layui-tab-title li.layui-this {
	color: #409eff;
}

.layadmin-pagetabs .layui-tab-title li.layui-this:after {
	background-color: #409eff!important;
}

.layadmin-pagetabs .layui-tab-title li:after {
	background-color: #409eff!important;
}

.layui-elem-field legend {
	font-weight: bold;
}

.layui-form-checkbox {
	font-size: 0!important;
}

.layui-form-checked i {
	border: 1px solid #409eff;
}

.layui-form-checked:hover i {
	border-color: #409eff;
}

.twoword_radio_box .layui-form-radio {
	margin: 0 9px 0 8px;
}

.layui-card-header {
	height: 24px;
	line-height: 25px;
	padding: 0 9px;
	color: #5b5f6d;
	border-radius: 2px 2px 0 0;
	font-size: 17px;
	font-weight: bold;
	border-left: 5px solid #2790fa;
	border-left: 5px solid #409eff;
	border-bottom: none;
}

.layui-card-header .search_line {
	font-size: 14px;
	font-weight: normal;
}

.caller-tab .layui-card-header {
	margin: 0 0 20px;
}

.layui-card-header .header_edit {
	float: right;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	margin: 0 0 0 10px;
	border: 1px solid transparent;
	border-radius: 24px;
}

.layui-card-header .header_btn,
.short_btn {
	display: inline-block;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	background: #409eff;
	min-width: 24px;
	text-align: center;
	height: 24px;
	line-height: 22px;
	border: 1px solid #409eff;
	border-radius: 5px;
	padding: 0px 7px;
	margin: 0 0 0 5px;
	position: relative;
	top: -1px;
	transition: all 0.3s;
}

.short_btn {
	top: 0;
	margin: 0 0 0 -5px;
}

.layui-card-header .header_btn:hover,
.short_btn:hover {
	color: #409eff;
	background: #fff;
	cursor: pointer;
}

.layui-card-header .header_btn:before {
	margin: 0 -4px;
}

.layui-card-header .hollow_btn,
.layui-card-header .header_edit:hover {
	color: #409eff;
	background: #fff;
	border: 1px solid #409eff;
}

.layui-card-header .hollow_btn:hover {
	/*transition: all 0s;
	color: #ff861e;
	border-color: #ff861e;*/
	opacity: 0.5;
}

.batchdelete_box {
	display: none;
}

.layui-card-header font {
	font-size: 14px;
	font-weight: normal;
	color: #ff5722;
	margin: 0 0 0 3px;
}

.head_hint {
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	color: #aaa;
}

.head_hint span+span {
	margin: 0 0 0 10px;
}

.layui-card {
	box-sizing: border-box;
	box-shadow: none;
	padding: 15px 0;
}

.layui-btn {
	background: #409eff;
}

.layui-upload-list td .layui-btn+.layui-btn {
	margin-left: 5px;
}

.layui-btn-warm {
	background: #ff861e!important;
}

.layui-btn-green {
	background: #16b51c!important;
}

.layui-btn-red {
	background: #ff5722!important;
}

.layui-btn-white {
	background: #fff;
}

.layui-btn-info,
.layui-btn-info:hover {
	color: #409eff;
	background: #fff;
	border: 1px solid #409eff;
}

table .layui-btn-danger {
	background-color: #FF5722;
}

.layui-btn-primary,
.layui-btn-primary:hover {
	background: #fff;
	border: 1px solid #409eff;
	color: #409eff;
}

.layui-btn-sm {
	height: 22px;
	line-height: 22px;
	padding: 0 7px;
	margin: 5px 0 0;
}

input[type="reset"].layui-btn-sm {
	height: 24px;
}

.layui-form-item {
	margin: 0;
}

.layadmin-message-fluid .layui-form-item {
	margin: 0 0 15px;
}

.layadmin-message-fluid .layui-form-item:last-child {
	margin: 0;
}

.layui-btn-primary:hover {
	opacity: 0.8;
}

.layui-form-select .layui-edge {
	right: 7px;
	border-radius: 3px;
}

.layui-form-select dl {
	max-height: 192px;
}

.layui-form-select dl dd.layui-this,
.layui-laydate .layui-this {
	background-color: #409eff!important;
}

.layui-card-body {
	padding: 15px 0;
	clear: both;
}

.layui-card-body .render_tab {
	margin: 0;
}

.layui-form-label {
	box-sizing: border-box;
	width: 110px;
	padding: 9px 8px 9px 0;
}

.red_dot {
	font-size: 14px;
	color: #ff0000;
	position: absolute;
	margin: -4px 0 0 0;
}

.layui-laydate-main {
	width: 240px!important;
}

.layui-laydate-header {
	line-height: 28px!important;
	padding: 5px 70px 3px!important;
}

.layui-laydate-header i {
	top: 4px!important;
}

.layui-laydate-content {
	padding: 5px 10px!important;
}

.layui-laydate-content td,
.layui-laydate-content th {
	height: 26px!important;
	padding: 3px!important;
}

.layui-laydate-footer {
	height: 37px!important;
	padding: 4px 20px!important;
}

.laydate-footer-btns {
	top: 5px!important;
}

.layui-laydate-range {
	width: 482px!important;
}

.laydate-time-list ol {
	height: 144px!important;
}

.laydate-time-list ol li {
	line-height: 29px!important;
	padding-left: 28px!important;
}

.mix_line {
	padding: 20px 0;
}

.inline_inside {
	margin: 0 0 -10px;
	overflow: hidden;
}

.inline_inside .layui-inline {
	display: inline;
	font-size: 0
}

.inline_inside .layui-inline * {
	font-size: 14px;
}

.inline_inside .layui-inline>*,
.inline_inside .layui-inline+.short_btn {
	margin: 0 10px 10px 0;
}

.search_top {
	margin: 0 -79px 0 0;
	padding: 0 89px 0 0;
}

.search_line .layui-inline {
	margin: 0;
}

.search_line .layui-form-label {
	width: auto;
}

.mix_line .layui-form-label {
	width: auto;
	padding: 5px 8px;
}

.search_line .layui-form-checkbox {
	margin: 0;
}


/*.search_line .layui-form-checked i {
	color: #409eff;
}*/

.layui-tab-item .search_line {
	margin: -102px 0 0;
}

.search_line .layui-btn+.layui-btn {
	margin-left: 0;
}

.mix_line .xm-select-parent .xm-select-title,
.mix_line .xm-select-parent .xm-select,
.mix_line .xm-select-parent .xm-input,
.mix_line .layui-input,
.mix_line .layui-btn {
	min-height: 30px;
	height: 30px;
	line-height: 30px;
}

.layui-form-radio {
	padding: 0 5px 0 0;
}

.layui-form-radio>i {
	margin: 0 5px 0 0;
}

.layui-form-radio>i:hover,
.layui-form-radioed>i,
.layui-form-radio:hover i {
	color: #409eff;
}

.layui-table-cell .layui-icon {
	font-size: 14px;
}

.layui-input:focus,
.layui-textarea:focus {
	border-color: #9dc8f5!important;
}

.layui-textarea {
	padding: 6px 10px;
	resize: none;
}

.layuiadmin-card-list p.layuiadmin-normal-font {
	font-size: 17px;
	font-weight: bold;
	color: #a8b2bd;
}

.layui-tab-title li:before {
	margin: 0 2px 0 0;
}

.layui-tab-title li font {
	color: #a8b2bd;
	margin: 0 0 0 5px;
}

.layui-form-switch {
	box-sizing: border-box;
	height: 24px;
	padding: 0 6px 0 2px;
	margin: 0 5px 0 0;
}

.layui-form-switch:last-child {
	margin: 0;
}

.layui-form-switch em {
	font-size: 13px;
}

.layui-layer-btn {
	border-top: 1px solid #eee;
	background: #f8f8f8;
	padding: 2px 15px 6px!important;
	pointer-events: auto;
	user-select: none;
	-webkit-user-select: none;
}

.layui-layer {
	max-height: 100%;
}


/*.layui-col-md12 {
	margin: 0 0 10px;
}*/

.layui-col-md12:last-child {
	margin: 0;
}

.message-content .media-body {
	margin-bottom: 0;
	padding: 25px 0;
	overflow: hidden;
	border-bottom: 1px solid #e0e0e0;
}

.caller_bom .layui-breadcrumb {
	display: inline-block;
}

.caller_bom .layui-breadcrumb a,
.caller_bom .layui-breadcrumb button {
	font-size: 12px;
}

.caller_bom .caller-iconset i {
	font-size: 11px;
	color: #999;
	cursor: pointer;
}

.caller_bom .caller-iconset i:before {
	font-size: 15px;
	margin: 0 2px 0 0;
}

.dialogue_btn_select,
.caller_bom .caller-iconset .layui-icon-dialogue:hover {
	color: #5cb85c!important;
}

.star_btn_select,
.caller_bom .caller-iconset .layui-icon-star:hover {
	color: #f0ad4e!important;
}

.praise_btn_select,
.caller_bom .caller-iconset .layui-icon-praise:hover {
	color: #d9534f!important;
}

.reply_box .caller-item {
	box-sizing: border-box;
	background: #f8f8f8;
	padding: 15px!important;
	/*border-top: 1px solid #e6e6e6!important;*/
}

.reply_box .caller-item:first-child {
	margin: 20px 0 0;
}

.reply_box .caller-item:last-child {
	border: none;
}


/*顶部分割线补充按钮*/

.breadcrumb_top {
	float: right;
	margin: -23px 20px 0 0;
	background: #fff;
	padding: 0 10px;
	visibility: visible;
}

.breadcrumb_top .breadcrumb_select {
	display: inline-block;
	font-size: 13px;
	color: #fff!important;
	height: 24px;
	line-height: 24px;
	background: #409eff;
	padding: 0 15px;
	border-radius: 22px;
}

.breadcrumb_top .breadcrumb_select:hover {
	color: #fff!important;
	opacity: 0.8;
}

.layui-breadcrumb a,
.layui-breadcrumb button,
.layui-breadcrumb font {
	font-size: 12px;
	color: #999!important;
	border: none;
	background: none;
	cursor: pointer;
}

.card-columns {
	column-gap: 20px;
}

.card-columns .card {
	margin-bottom: 20px;
}

.layui-breadcrumb a:hover,
.layui-breadcrumb button:hover {
	color: #409eff!important;
}

.grid .layuiadmin-card-text {
	border: 1px solid #e3e9ef;
	border-radius: 2px;
}

.work_card .layui-text-top font {
	font-size: 14px;
}

.layuiadmin-card-text .layui-text-top i {
	color: #409eff;
}

.grid-item .layuiadmin-card-text .layui-text-top i {
	float: left;
	font-size: 21px;
}

.modulartit_icon.new_icon {
	position: relative;
}

.modulartit_icon.new_icon:after {
	content: "new!";
	position: absolute;
	top: -2px;
	left: -10px;
	font-size: 12px;
	font-weight: bold;
	color: #ff0000;
	line-height: 12px;
	background: #f8f8f8;
	transform: rotateZ(-33deg);
}

.layuiadmin-card-text .layui-text-center,
.layuiadmin-card-text .layui-text-bottom {
	margin: 0;
	height: auto;
	line-height: 20px;
}

.layuiadmin-card-text .layui-text-center {
	margin: 0 0 10px;
}

.layuiadmin-card-text .layui-text-bottom {
	padding: 0 40px 0 0;
}

.ltc_label {
	font-size: 0;
}

.ltc_label label {
	display: inline-block;
	font-size: 14px;
	white-space: nowrap;
	min-width: 50%;
}

.modular_tag {
	font-size: 0;
	line-height: 20px;
	margin: 0 0 5px;
}

.modular_tag span {
	display: inline-block;
	font-size: 14px;
	color: #409eff;
	margin: 0 13px 0 0;
}

.modular_tag span:last-child {
	margin: 0;
}

.modular_tag span:before {
	content: "#";
}

.layui-table .layui-input {
	height: 28px;
	line-height: 28px;
}

.layui-table .layui-input.layui-table-edit {
	height: 38px;
	line-height: 38px;
}

.layui-table a.layui-icon {
	font-size: 17px;
	font-weight: bold;
	color: #409eff;
}

.layui-table a:hover {
	cursor: pointer;
	opacity: 0.8;
}

.layui-table-fixed-l {
	box-shadow: none;
	left: -1px;
}

.layui-form-item .layui-btn {
	margin: 0;
}

.layui-table-view {
	margin: 0;
}

.layui-table-view .layui-table {
	width: 100%;
}

.layui-layedit {
	background: #fff;
}

.layui-layedit-tool {
	background: #f8f8f8;
}

.layui-layedit-tool .layui-icon:hover {
	color: #409eff;
}


/*查看表单*/

.tabsearch {
	padding: 0 10px;
	margin: 0 0 10px;
}

.layui-col-space20 .tabsearch {
	margin: 10px 0;
}

.fill_box {
	background-color: #fbfbfb;
	border: 1px solid #eaeefb;
	padding: 15px;
	border-radius: 3px;
}

.layadmin-message-fluid .fill_box {
	margin: 20px 0 0;
}

.detail_item {
	border-left: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
}

.detail_item+.detail_item {
	margin: 74px 0 0;
}

.detail_item_tit {
	position: absolute;
	top: -29px;
	left: -1px;
	color: #fff;
	height: 24px;
	line-height: 24px;
	background: #409eff;
	padding: 0 10px;
}

.detail_item_tit:after {
	content: "";
	position: absolute;
	top: 0;
	left: 100%;
	width: 0;
	border-style: solid;
	border-width: 12px 0 12px 12px;
	border-color: transparent transparent transparent #409eff;
}

.layui-card .detail_item .detail_item_tit .readinputbtn {
	display: inline-block;
	color: #fff;
	width: auto;
	height: 24px;
	line-height: 24px;
	min-height: 24px;
	background: transparent;
	padding: 0;
	border: none;
}

.detail_item_tit+.layui-row {
	margin: 29px 0 0;
}

.detail_item .layui-row {
	background: #f9f9f9;
}

.detail_item .layui-form-label,
.detail_item .layui-input-block {
	background: #fff;
	border: 1px solid #e6e6e6;
	border-bottom: none;
}

.detail_item .layui-form-label {
	background: #f9f9f9;
	border-left: none;
	border-right: none;
}

.detail_item .layui-input-block {
	min-height: 39px;
}

.detail_item .layui-input-block input,
.detail_item .layui-input-block textarea {
	border: none;
	text-align: left;
}

.detail_item .layui-input-block .row {
	display: block;
	width: 100%;
	overflow: hidden;
}

.detail_item .layui-form-label {
	box-sizing: border-box;
	width: 80px;
}

.detail_item .layui-input-block {
	margin-left: 80px;
}

.detail_item .user_head {
	width: 150px;
	height: 200px;
	background: url(../images/userhead_bg2.png) center;
	background-size: cover;
	padding: 0;
	border-right: 1px solid #e6e6e6;
	position: relative;
}

.detail_item .user_head img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 100%;
}

.detail_item .user-input-block {
	margin-left: 150px;
	border: none;
	overflow: hidden;
}

.layui-card .detail_item .readinputbtn,
.readinputbtn {
	color: #666;
	line-height: 22px;
	height: auto;
	min-height: 38px;
	word-break: break-all;
	white-space: normal;
	padding: 8px 10px;
	background: transparent;
	border: none;
}


/*下载文件*/

.detail_item .file_download,
.file_download {
	box-sizing: border-box;
	display: inline-block;
	color: #1e9fff;
	border: none;
	padding: 0 10px;
	max-width: 100%;
	position: relative;
}

td .file_download {
	padding: 0;
}

.detail_item .file_download:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.detail_item .file_download .readinputbtn {
	display: block;
	color: #1e9fff;
	padding: 8px 0;
	border: none;
	cursor: pointer;
}

.detail_item .file_download:hover input,
.file_download:hover {
	color: #1e9fff;
	text-decoration: underline;
	opacity: 0.8;
}

.layuiadmin-card-text .layui-text-bottom .ltb_btn {
	font-size: 12px;
	color: #fff;
	background: #409eff;
	border: none;
	padding: 3px 7px;
	position: relative;
	top: -1px;
	border-radius: 2px;
	cursor: pointer;
}

.layuiadmin-card-text .layui-text-bottom .ltb_btn:hover {
	opacity: 0.8;
}

.submitnum,
.short_inputtext {
	display: inline-block;
	width: 50px;
	margin: 0!important;
	padding: 0 2px!important;
}

.submitnum {
	margin: -4px 0 0!important;
}

.short_inputtext_block>* {
	float: left;
}

.short_inputtext_box {
	line-height: 0;
	margin: 0 15px 0 -10px;
}


/*上传组合*/

.mix_uploadbox .layui-upload-list {
	overflow: hidden;
}

.mix_uploadbox .layui-upload-drag {
	float: left;
	box-sizing: border-box;
	padding: 30px 20px;
	margin: 0 15px 10px 0;
	z-index: 2;
}

.mix_uploadbox .layui-upload-drag:hover {
	border-color: #98cbff;
}

.mix_uploadbox .layui-upload-drag:hover p {
	color: #409eff;
}

.mix_uploadbox .layui-upload-choose {
	display: block;
	color: #009688;
	word-break: break-word;
	width: 100%;
	padding: 0;
}

.mix_uploadbox .layui-table {
	margin: 0;
}

.mix_uploadbox .layui-upload-list .layui-table th,
.mix_uploadbox .layui-upload-list .layui-table td {
	white-space: nowrap;
}

.nowrap {
	white-space: nowrap;
}

.mix_uploadbox .layui-upload-list .layui-table .wordbreak {
	white-space: normal;
	word-break: break-word;
}

.mix_uploadbox .upload_btn {
	text-align: right;
	margin: 10px 0;
	clear: both;
}

.mix_uploadbox .upload_btn button {
	box-sizing: border-box;
	background: #fff;
	color: #409eff;
	border: 1px solid #98cbff;
}


/*网格图片&信息显示*/

.pictext_net {
	box-sizing: border-box;
	background: #fff;
	padding: 10px;
}

.pn_img_box {
	width: 100%;
	padding: 75% 0 0;
	position: relative;
}

.pn_img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.pn_img img {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.pn_info {
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}

.space20_bg {
	margin: 0;
	padding: 10px;
	background: #f8f8f8;
}


/*视频*/


/*比例盒子*/

.proportion_box_one {
	width: 100%;
	padding: 30% 0 0;
	position: relative;
}

.abs_box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.abs_box video {
	float: left;
	width: auto;
	height: 100%;
	margin: 0 20px 0 0;
}

.video_info {
	text-align: left;
}

.video_info_tit {
	font-size: 17px;
	margin: 0 0 20px;
}

.video_info_content {
	line-height: 20px;
}


/*自定义标签页样式一*/

.customtab_one {
	margin: 0;
}

.customtab_one .layui-tab-content {
	padding: 25px 0!important;
}

.fixtop_tabbtn {
	position: fixed!important;
	top: 0!important;
	right: 0;
	text-align: center;
	width: 100%;
	height: 38px!important;
	line-height: 38px!important;
	background: #ff861e!important;
	border-radius: 0!important;
	border: none!important;
	z-index: 9999;
}

.fixtop_tabbtn:hover {
	color: #fff!important;
	background: #40afee!important;
}


/*链接侧边栏*/

.quick_line {
	position: fixed;
	right: 15px;
	bottom: 15px;
	z-index: 200;
}

.quick_line a,
.top {
	display: inline-block;
	box-sizing: border-box;
	float: left;
	clear: both;
	font-size: 14px;
	color: #8a939c;
	line-height: 17px;
	letter-spacing: 2px;
	width: 50px;
	height: 50px;
	background: #f8f8f8;
	padding: 8px 0 0 8px;
	margin: 5px 0 0;
	border: 1px solid #efefef;
	cursor: pointer;
}

.quick_line .hide {
	display: none;
}

.top {
	display: none;
	font-size: 40px;
	padding: 0 0 0 4px;
	line-height: 50px;
	text-align: center;
}

.top:hover,
.quick_line a:hover {
	color: #333;
	background: #fafafa;
}


/*底部综合按钮*/

.bottom_btnbox {
	text-align: center;
	padding: 30px 0;
}

.bottom_btnbox .layui-btn {
	height: 45px;
	line-height: 45px;
	padding: 0 45px;
}


/*按钮input读取字段可换行*/

.btn_article {
	word-break: break-all;
	white-space: inherit;
	text-align: left;
	height: 36px;
	background: none;
	border: none;
}


/*下拉选择行内平铺*/

.float_dd dl dd {
	float: left;
	/*white-space: nowrap;*/
	word-break: break-all;
	margin: 0 0 0 5px;
	transition: 0.2s all;
}

.float_dd dl dd:hover {
	color: #409eff;
	transition: 0.2s all;
}

.float_dd dl dd.layui-this:hover {
	color: #fff;
}


/*排课使用样式*/


/*主体*/

.main_content {
	box-sizing: border-box;
	width: 100%;
	padding: 20px 33px 99px;
}


/*修改layui css*/

td .layui-textarea {
	height: 75px;
	min-height: 40px;
}

.layui-input:focus,
.layui-textarea:focus {
	border-color: #9dc8f5!important;
}

.layui-input-block>.layui-input:nth-child(n+2) {
	margin: 10px 0 0;
}

.layui-tab {
	margin: 0;
}

.layui-card .layui-tab-brief .layui-tab-content,
.layui-tab-content {
	padding: 20px 0 0;
}

.layui-table tbody tr:hover,
.layui-table thead tr,
.layui-table-click,
.layui-table-header,
.layui-table-hover,
.layui-table-mend,
.layui-table-patch,
.layui-table-tool,
.layui-table-total,
.layui-table-total tr,
.layui-table[lay-even] tr:nth-child(even) {
	background-color: #f4f4f5;
}

.layui-table-header th:last-child {
	border-right: none;
}


/*.layui-table-body {
	margin: 0!important;
}*/

.layui-table-fixed .layui-table-body {
	height: auto;
}

.layui-table-fixed-r {
	box-shadow: -1px 0 4px rgba(0, 0, 0, .08);
}

.layui-table-edit,
.layui-table-edit:hover,
.layui-table-edit:focus {
	background: #ffffe5;
	/*border: 1px solid #409eff!important;*/
}


/*模块信息*/

.layui-elem-field legend {
	font-weight: bold;
}

.breadcrumb_top {
	float: right;
	margin: -23px 20px 0 0;
	background: #fff;
	padding: 0 10px;
	visibility: visible;
}

.breadcrumb_top .breadcrumb_select {
	display: inline-block;
	font-size: 13px;
	color: #fff!important;
	height: 24px;
	line-height: 24px;
	background: #409eff;
	padding: 0 15px;
	border-radius: 22px;
}

.layui-breadcrumb a,
.layui-breadcrumb button,
.layui-breadcrumb font {
	font-size: 12px;
	color: #999!important;
	border: none;
	background: none;
	cursor: pointer;
}

.lesson_info {
	font-size: 0;
	line-height: 14px;
	overflow: hidden;
}

.lesson_info:last-child {
	margin: 0;
}

.li_cell_tit {
	margin: 0 0 10px;
	border-bottom: 1px solid #e6e6e6;
	overflow: hidden;
	position: relative;
}

.li_cell {
	display: inline-block;
	box-sizing: border-box;
	font-size: 14px;
	color: #5b5f6d;
	line-height: 20px;
	margin: 0 17px 15px 0;
}

.li_cell_info {
	display: block;
	color: #a7a7af;
}

.li_cell:last-child {
	margin: 0;
}

.lesson_name {
	float: left;
	box-sizing: border-box;
	font-size: 19px;
	font-weight: bold;
	white-space: nowrap;
	letter-spacing: 0.3px;
	text-overflow: ellipsis;
	width: 100%;
	padding: 8px 292px 12px 0;
	overflow: hidden;
}

.li_cell:empty:before,
.lesson_name:empty:before {
	content: attr(placeholder);
	color: #c0c0c0;
}

.link_r {
	position: absolute;
	right: 0;
	bottom: 5px;
}

.li_cell .fa,
.li_cell .layui-icon {
	color: #409eff;
	margin: 0 4px 0 0;
}

.li_cell span {
	display: inline-block;
}

.li_cell span:after {
	content: "●";
	display: inline-block;
	color: #9e9e9e;
	color: #409eff;
	margin: 0 2px 0 6px;
}

.li_cell span:last-child:after {
	display: none;
}

.li_cell span font:after {
	content: "|";
	color: #e6e6e6;
	margin: 0 3px;
}

.li_cell span font:last-child:after {
	display: none;
}

.li_cell a {
	color: #409eff;
	border-bottom: 1px solid #409eff;
}

.li_cell a:hover,
.li_cell a:active {
	cursor: pointer;
	opacity: 0.8;
}


/*卡片*/

.layui-card {
	box-sizing: border-box;
	box-shadow: none;
	padding: 0;
	margin: 0;
}

.layui-card+.layui-card {
	margin: 50px 0 0;
}

.layui-col-md12>.layui-card:last-child {
	padding: 0;
}

.layui-card-header {
	height: 24px;
	line-height: 25px;
	padding: 0 0 0 9px;
	color: #5b5f6d;
	border-radius: 2px 2px 0 0;
	font-size: 17px;
	font-weight: bold;
	border-left: 5px solid #2790fa;
	border-left: 5px solid #409eff;
	border-bottom: none;
}

.layui-card-body {
	padding: 15px 0 0;
}

.layuiadmin-card-text .layui-text-bottom .card_download {
	box-sizing: border-box;
	display: inline-block;
	font-size: 12px;
	word-break: break-all;
	color: #fff;
	line-height: 20px;
	background: #409eff;
	padding: 1px 10px;
	margin: 5px 0 0 0;
	position: relative;
	top: -1px;
	border-radius: 2px;
	cursor: pointer;
}

.layuiadmin-card-text .layui-text-bottom .card_download:last-child {
	margin: 0;
}

.layuiadmin-card-text .layui-text-bottom .card_download:hover,
.layuiadmin-card-text .layui-text-bottom .card_download:active {
	opacity: 0.8;
}

.cancelmodularlist,
.deletemodularlist {
	margin: 4px 0 -2px!important;
}

.layuiadmin-card-text .layui-text-bottom .cancelmodularlist {
	display: none;
}

.cancelmodularlist:hover,
.deletemodularlist:hover {
	color: #ff5722!important;
	border: 1px solid #ff5722!important;
}

.layuiadmin-card-text .layui-text-bottom span {
	margin: 5px 0 0;
}

.layui-card .layui-input {
	padding: 0 10px;
}


/*单双击选择*/

.flexibleselect_item {
	margin: 0;
}

.flexibleselect_item .layui-form-label {
	text-align: left;
	width: auto;
	padding: 2.5px 0;
}

.flexibleselect_item .layui-input-block {
	margin-left: 50px;
	min-height: 25px;
}

.flexibleselect {
	font-size: 0;
}

.flexibleselect .layui-form-checkbox {
	height: 25px;
	line-height: 25px;
	margin: 0 7px 0 0;
	padding: 0 25px 0 0;
	padding: 0;
}

.layui-form-checkbox span {
	padding: 0 6px;
	border-radius: 2px;
}

.flexibleselect .layui-form-checkbox i {
	display: none;
	width: 25px;
	height: 23px;
	border: 1px solid #c2c2c2;
	border-left: none;
}


/*formselect*/

.xm-select-parent .xm-select {
	padding-right: 25px;
}

.xm-select-parent .xm-select .xm-select-label {
	width: 100%;
	/*left: 0!important;*/
	white-space: nowrap;
	overflow: hidden;
}

.xm-select-parent .xm-form-select dl dd,
.xm-form-checkbox>span {
	white-space: normal;
	height: auto;
	overflow: visible;
}

.xm-select-parent .xm-form-select dl dd:first-child {
	height: 26px;
	border-bottom: 1px solid #e6e6e6;
	padding: 0 8px!important;
}

.xm-select-parent dd>.xm-cz-group {
	max-width: 100%!important;
	border: none;
	margin: 9px 0 0;
}

.xm-select-parent dd>.xm-cz {
	display: none;
}

.xm-select-parent dd>.xm-cz-group .xm-cz {
	margin-right: 6px!important;
}

.xm-select-parent dd>.xm-cz-group .xm-cz:last-child {
	margin: 0!important;
}

.xm-select-parent dd>.xm-cz-group .xm-cz i {
	display: none;
}

div[xm-select-skin=normal] .xm-select-title div.xm-select-label>span {
	font-size: 12px;
	max-width: 45px;
	white-space: nowrap;
	text-overflow: ellipsis;
	border: none;
	overflow: hidden;
}

.xm-form-checkbox>span {
	padding: 0 0 0 30px;
}

.xm-select-parent .xm-select .xm-select-input {
	vertical-align: top;
	width: 22px!important;
	height: 22px;
	margin: 2px 0 0;
}

.xm-select-parent .xm-form-selected .xm-select-sj {
	/*overflow: visible;*/
}

.xm-select-parent .xm-select-sj {
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	margin: 0!important;
	background: #fff;
	overflow: hidden;
	position: absolute;
	right: 0px;
	top: 4px;
	cursor: pointer;
	transition: all .3s;
	-webkit-transition: all .3s;
	border: none;
}

.xm-select-parent .xm-select-sj:after {
	content: "\f0d7";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	color: #c2c2c2;
	font-size: 17px;
	position: absolute;
	top: 0;
	right: 0;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
}


/*.xm-select-parent .xm-select .xm-select-input:last-child {
	display: none;
}*/


/*穿梭框*/

.layui-transfer {
	display: inline-block;
	text-align: center;
}

.layui-transfer-box {
	text-align: left;
}

.layui-transfer-box .layui-form-checkbox:hover {
	opacity: 0.8;
}

.layui-transfer-active {
	margin: 15px;
}

.layui-transfer-header {
	background: #fafafa;
}

.layui-transfer-data li {
	padding: 6px 10px;
	height: auto;
	min-height: 20px;
	line-height: 20px;
}

.layui-transfer-search .layui-input {
	font-size: 13px;
	padding-left: 30px;
}

.layui-transfer-box .layui-form-checkbox span {
	color: #333;
	text-shadow: none;
	word-break: break-all;
	white-space: normal;
}

.layui-transfer-box .layui-checkbox-disbaled span {
	color: #c2c2c2;
}

.layui-transfer-box:first-child .layui-transfer-header .layui-form-checkbox span {
	color: #ff2b2b;
}

.layui-transfer-box:last-child .layui-transfer-header .layui-form-checkbox span {
	color: #409eff;
}

.layui-transfer-active .layui-btn {
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
}

.layui-transfer-search .layui-icon-search {
	margin-top: -12px;
}


/*新增编辑表格样式*/

.tab_font {
	display: inline-block;
	font-size: 13px;
	color: #fff;
	margin: 0 0 0 4px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #b2b2b2;
	border-radius: 100%;
}

.layui-table-edit,
.layui-table-edit:hover,
.layui-table-edit:focus {
	/*background: #ffffe5;*/
	background: #f8feff;
	border: 1px dashed #409eff!important;
	box-shadow: none;
}

.edit_tab+.layui-table-view .layui-table-main tbody td .layui-table-cell:hover,
.edit_tab+.layui-table-view .layui-table-fixed-r tbody td .layui-table-cell:hover {
	color: #409eff;
	height: 38px;
	line-height: 26px;
	padding: 5px 14px!Important;
	margin: -7px 0!important;
	background: #fff;
	border: 1px dashed #409eff!Important;
}

.edit_tab+.layui-table-view .layui-table-main tbody td .layui-table-cell:hover .tab_font,
.edit_tab+.layui-table-view .layui-table-fixed-r tbody td .layui-table-cell:hover .tab_font {
	background: #409eff;
}

.tab_auto_box {
	border: 1px solid #e6e6e6;
	border-bottom: none;
	overflow-x: auto;
}

.auto_box {
	overflow: auto;
}

.addselect_tab+.layui-table-view {
	border: none;
	padding: 0 1px 1px 0;
}

.addselect_tab+.layui-table-view .layui-table[lay-skin=line] {
	border-width: 0;
}

.addselect_tab+.layui-table-view .layui-table-box {
	overflow: visible;
}

.addselect_tab+.layui-table-view .layui-table-body {
	overflow: visible;
}

.addselect_tab+.layui-table-view .layui-table-header {
	overflow: visible;
}

.addselect_tab+.layui-table-view .layui-table-cell {
	overflow: visible;
}


/*课程卡片*/

.lesson_card .layuiadmin-card-text {
	padding: 15px;
	border: 1px solid #e6e6e6;
}

.lesson_card .layuiadmin-card-text .layui-text-center {
	height: auto;
	overflow: visible;
}

.lesson_card .layuiadmin-card-text .layui-text-top {
	font-size: 0;
	padding: 0 0 10px;
}

.lesson_card .layuiadmin-card-text .layui-text-top font {
	font-size: 14px;
}

.lesson_card .layuiadmin-card-text .layui-text-top font:after {
	content: "|";
	color: #d2d2d2;
	margin: 0 5px;
	position: relative;
	top: -2px;
}

.lesson_card .layuiadmin-card-text .layui-text-top font:last-child:after {
	display: none;
}

.lesson_card .layuiadmin-card-text .layui-text-top i {
	font-size: 20px;
}

.layuiadmin-card-text .layui-text-top .layui-form-checkbox {
	box-sizing: border-box;
	display: inline-block;
	padding-right: 0;
	width: 20px;
	height: 20px;
	text-align: center;
	border: 1px solid #409eff;
	border-radius: 2px;
}

.layuiadmin-card-text .layui-text-top .layui-form-checkbox {
	display: none;
}

.layuiadmin-card-text .layui-text-top .layui-form-checkbox i {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	width: 18px;
	height: 18px;
	line-height: 20px;
	border: none;
	margin: 0;
}

.layuiadmin-card-text .layui-text-top .layui-form-checked i {
	color: #409eff;
}

.grid-item .layuiadmin-card-text .layui-text-top font {
	font-size: 15px;
}


/*特殊表格样式*/

.schedule_left {
	float: none;
	width: auto;
	padding: 0 380px 0 10px;
}

.schedule_right {
	box-sizing: border-box;
	float: right;
	width: 360px;
	padding: 0 10px;
}

.schedule_right .layui-form-selectup dl {
	width: 140px;
}

.schedule_right .layui-form-select dl dd {
	white-space: normal;
}

.schedule_right_fix {
	position: fixed;
	top: 0;
	right: 23px;
	height: 100%;
	padding: 0 10px 79px;
}

.mini_tab th,
.mini_tab td {
	font-size: 12px;
	padding: 9px 2px;
}

.mini_tab .layui-btn {}

.schedule_tab {
	background: none;
	overflow: hidden;
}

.schedule_tab thead tr,
.schedule_tab tbody tr {
	background: none;
}

.schedule_tab th,
.schedule_tab td {
	text-align: center;
	background: none;
	position: relative;
	outline: 0;
}

.schedule_tab td {
	width: 5%;
	line-height: 16px;
}

.schedule_tab thead tr:first-child th:first-child {
	background: #fff;
}

.schedule_tab th {
	white-space: nowrap;
	min-width: 20px;
}

.schedule_tab tbody th {
	padding: 9px;
}

.schedule_tab thead tr:first-child th,
.schedule_tab tbody .schedule_day_th {
	font-weight: bold;
	background: #409eff;
	background: #727282;
	color: #fff;
}

.schedule_tab thead th:after,
.schedule_tab tbody th:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f4f4f5;
	z-index: -2;
}

.schedule_tab thead th:hover,
.schedule_tab tbody th:hover {
	color: #409eff!important;
	background: #fff!important;
}

body:not(.nohover) .schedule_tab tbody tr:hover {
	background: none;
}

.schedule_tab td:hover::after,
.schedule_tab thead th:not(:empty):hover::after,
.schedule_tab td:focus::after,
.schedule_tab thead th:not(:empty):focus::after {
	content: '';
	position: absolute;
	top: -5000px;
	left: 0;
	width: 100%;
	height: 10000px;
	z-index: -1;
}

.schedule_tab td:hover::before,
.schedule_tab tbody th:not(:empty):hover::before,
.schedule_tab td:focus::before,
.schedule_tab tbody th:not(:empty):focus::before {
	content: '';
	position: absolute;
	top: 0;
	left: -5000px;
	width: 10000px;
	height: 100%;
	z-index: -1;
}

.schedule_tab td:hover::before,
.schedule_tab th:hover::before,
.schedule_tab td:hover::after,
.schedule_tab th:hover::after {
	background: #fffee1;
}

.schedule_tab tbody td:hover {
	background: #fdffc0;
	background: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.batch_tab_box {
	min-height: 414px;
}

.batch_tab th,
.batch_tab td {
	width: 20%;
	width: 16.6%;
	padding: 9px;
}

.batch_tab th:after,
.batch_tab td:after {
	display: none;
}

.batch_tab thead tr:first-child th,
.batch_tab tbody .schedule_day_th,
.batch_tab thead th:hover {
	font-weight: normal;
	background: #f4f4f5!important;
	color: #666!important;
}

.batch_tab tbody .schedule_day_th {
	background: #fff!important;
}

.batch_tab tbody th:hover {
	background: #f4f4f5!important;
	color: #666!important;
}

.batch_tab tbody th {
	background: #fff;
}

.batch_tab tbody td:hover {
	background: transparent;
	box-shadow: none;
}

.batch_tab td:hover::before,
.batch_tab th:hover::before,
.batch_tab td:hover::after,
.batch_tab th:hover::after {
	background: #f4f4f5;
}

.lesson_danger:before,
.lesson_warning:before,
.lesson_pass:before {
	font-size: 20px;
	background: #fff;
	border-radius: 100%;
}

.lesson_danger {
	color: #ff0000;
}

.lesson_warning {
	color: #ffbe00;
}

.lesson_pass {
	color: #2bd231;
}

.lesson_red,
.lesson_green {
	display: block;
	width: 100%;
	height: 100%;
	padding: 1px;
	position: absolute;
	top: -1px;
	left: -1px;
	opacity: 0.9;
}

.lesson_red {
	background: #ff3535;
}

.lesson_green {
	background: #3fe845;
}

.schedule_tit {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.schedule_tit div {
	position: absolute;
	top: 0;
	left: 0;
	color: #4d4d58;
	width: 100%;
	height: 100%;
}

.schedule_tit div:nth-child(1) {
	line-height: 28px;
	text-indent: 49px;
}

.schedule_tit div:nth-child(2) {
	line-height: 91px;
	text-indent: 53px;
}

.schedule_tit div:nth-child(3) {
	line-height: 126px;
	text-indent: 17px;
}

.schedule_tit div:nth-child(4) {
	line-height: 130px;
	text-indent: -46px;
}

.schedule_tit div:after {
	content: "";
	display: inline-block;
	float: left;
	width: 1px;
	height: 200px;
	background: #ddd;
	transform-origin: left top;
}

.schedule_tit div:nth-child(1):after {
	transform: rotate(-63.3deg);
}

.schedule_tit div:nth-child(2):after {
	transform: rotate(-44.8deg);
}

.schedule_tit div:nth-child(3):after {
	transform: rotate(-26.1deg);
}

.schedule_tit div:nth-child(4):after {
	display: none;
}


/*步骤底部信息*/

.step_bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #e6e6e6;
	color: #7b98b7;
	text-align: center;
	padding: 20px 0;
	background: #fafafa;
}

.modular_content_bottom {
	box-sizing: content-box;
	position: relative;
	left: -20px;
	background: none;
	border: none;
	padding: 20px;
	margin: 20px 0 0;
}

.step_bottom .layui-btn {
	margin: 0 0 0 15px;
}


/*新增/修改评教样式*/


/*主体框架*/

.head_box,
.main_box,
.main_tit,
.main_tit_sub,
.content_sub {
	box-sizing: border-box;
}

.head_box {
	position: fixed;
	top: 0;
	left: 0;
	color: #fff;
	width: 100%;
	height: 48px;
	line-height: 48px;
	padding: 0 60px;
	background: #2c98f7;
	background: #001529;
	z-index: 2;
}

.head_img {
	float: left;
	height: 22px;
	margin: 13px 30px 0 0;
}

.head_nav {
	float: left;
	font-size: 0;
}

.head_tool {
	float: right;
	font-size: 0;
}

.head_nav>a,
.head_tool>a {
	display: inline-block;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	line-height: 48px;
	margin: 0 20px 0 0;
	position: relative;
}

.head_nav>a:last-child,
.head_tool>a:last-child {
	margin: 0;
}

.head_nav>a:hover,
.head_tool>a:hover {
	opacity: 0.8;
}

.basic_head_info {
	margin: 0 20px 0 0;
}

.new_hint {
	position: absolute;
	top: 6px;
	right: -7px;
	width: 6px;
	height: 6px;
	background: #ff0000;
	border-radius: 100%;
}

.main_box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 48px 0 0;
}

.full_box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main_tit {
	float: left;
	width: 62px;
	height: 100%;
	background: #fff;
	border-right: 1px solid #d8d8d8;
}

.main_tit_sub {
	float: left;
	width: 200px;
	height: 100%;
	padding: 20px 15px;
	background: #fafafa;
	border-right: 1px solid #dde5ed;
}

.content_sub {
	border-left: 1px solid #dde5ed;
	float: right;
	width: 200px;
	height: 100%;
	background: #fafafa;
	padding: 20px;
}

.content_box {
	box-sizing: border-box;
	width: auto;
	height: 100%;
	padding: 20px;
	/*background: #fff;*/
	position: relative;
	overflow: auto;
}

.full_screen {
	padding: 0;
	overflow: hidden;
}

.full_screen iframe {
	width: 100%;
	height: 100%;
	border: none;
}


/*左侧栏目*/

.mt_box {
	display: block;
	text-align: center;
	margin: 20px 0 30px;
	cursor: pointer;
}

.mt_box .fa {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: #bfcede;
	font-size: 20px;
	border-radius: 2px;
	margin: 0 0 5px;
	transition: all 0.3s;
}

.mt_box:hover .fa,
.mt_box.mt_select .fa {
	background: #409eff;
	color: #fff;
}

.mt_box div {
	font-size: 12px;
	color: #333;
	transition: all 0.3s;
}

.mt_box.mt_select div {
	color: #409eff;
}

.mt_box:hover div {
	color: #409eff;
}


/*左中盒子*/

.main_tit_sub>.layui-row {
	box-sizing: border-box;
	position: relative;
	height: 100%;
	padding: 48px 0 0;
}

.main_tit_sub .layui-row .layui-col-md12:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
}

.main_tit_sub .layui-row .layui-col-md12:nth-child(2) {
	height: 100%;
	overflow: auto;
}

.main_tit_sub .layui-row .layui-col-md12:nth-child(2)::-webkit-scrollbar {
	border-radius: 9px;
	width: 9px;
	background: #efefef;
}

.main_tit_sub .layui-row .layui-col-md12:nth-child(2)::-webkit-scrollbar-track {
	background: transparent;
}

.main_tit_sub .layui-row .layui-col-md12:nth-child(2)::-webkit-scrollbar-thumb {
	border-radius: 9px;
	background: #ddd;
}

.main_tit_sub .layui-row .layui-col-md12:nth-child(2)::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}

.main_tit_sub .layui-row .layui-col-md12:nth-child(2) {
	scrollbar-arrow-color: #aaa;
	scrollbar-face-color: #aaa;
	scrollbar-shadow-color: #bbb;
	scrollbar-track-color: #ccc;
}


/*树形组件*/

.inp {
	line-height: 20px;
	margin: 0 0 10px;
}

.inp:last-child {
	margin: 0;
}

.inp .layui-form-checkbox[lay-skin=primary] span {
	display: none;
	color: #333;
	text-shadow: none;
	background: none!important;
}

.ele_control_box {
	display: none;
}

h3.eleTree-noText {
	font-size: 16px;
	color: #ccc!important;
}


/*模型容器盒子*/

.group_box {
	box-sizing: border-box;
	min-height: 60px;
	padding: 20px;
	border: 1px dashed #9fd2ff;
	border-radius: 2px;
	position: relative;
}

.projectdetail_box {
	padding: 0;
	border: none;
	border-radius: 0;
}

.group_box:after {
	content: "空白创建请在右侧点击添加模块";
	color: #6cbaff;
	line-height: 20px;
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 0;
}

.projectdetail_box:after {
	content: "";
	display: none;
}

.modular_card {
	box-sizing: border-box;
	padding: 20px;
	margin: 0 0 20px;
	border: 1px solid #eee;
	border-radius: 2px;
	background: #fcfcfc;
	position: relative;
	z-index: 1;
}

.modular_card:last-child {
	margin: 0;
}

.projectdetail_box .modular_card {
	padding: 20px 0 0;
	margin: 20px 0 0;
	border-radius: 0;
	background: none;
	border: none;
}

.mt_btnbox {
	float: right;
}

.mt_btnbox>label {
	font-size: 14px;
	color: #0087ff;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	padding: 0 5px;
	margin: 0 10px 0 0;
}

.mt_btnbox>label:hover {
	cursor: pointer;
	opacity: 0.8;
}

.mt_btnbox>label:last-child {
	margin: 0;
}

.modular_title {
	word-break: break-all;
	height: 24px;
	line-height: 25px;
	padding: 0 9px;
	color: #5b5f6d;
	font-size: 17px;
	font-weight: bold;
	margin: 0 0 20px;
	border-left: 5px solid #409eff;
}

.modular_card table {
	background: #fff;
	margin: 0;
}

.modular_card .table-bordered td,
.modular_card .table-bordered th {
	color: #666;
	padding: 9px;
	border: 1px solid #e6e6e6;
}


/*模型表单*/

.tab_limit {
	width: 100%;
	overflow: auto;
}

.lead_cell {
	white-space: nowrap;
}

.set_btn {
	box-sizing: border-box;
	float: left;
	color: #57b0ff;
	text-align: center;
	width: 48%;
	line-height: 28px;
	padding: 0 8px;
	margin: 0 0 10px;
	background: #ffffff;
	border: 1px solid #57b0ff;
	border-radius: 2px;
}

.set_btn:nth-child(2n+1) {
	margin-right: 4%;
}

.set_btn:hover {
	opacity: 0.8;
	cursor: pointer;
}

.table-bordered>tbody>tr>td:last-child {
	min-width: 60px;
}

.title_edit {
	display: inline-block;
	min-width: 50px;
	max-width: 600px;
	white-space: normal;
	text-align: center;
}


/*课程课表*/

.timetable_set .layui-col-md12,
.timetable_set .layui-card,
.timetable_set .layui-table {
	background: transparent;
}

.tab_timetable {
	margin: 0;
	overflow: hidden;
}

.tab_timetable {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.tab_timetable th,
.tab_timetable td {
	position: relative;
	padding: 5px;
	border: 1px solid #e2e2e2;
}

.timetale_td_select {
	background: #ffc75e!important;
}

.tab_timetable th:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f2f2f2;
	z-index: -2;
}

.tab_timetable td:after {
	content: "单击选择节次";
	font-size: 12px;
	color: #fff;
	position: absolute;
	bottom: 80%;
	right: 0;
	white-space: nowrap;
	padding: 2px 5px;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: all 0.2s;
}

.tab_timetable .timetale_td_select:after {
	content: "点击取消选择";
}

.tab_timetable td:hover:after {
	bottom: 100%;
	opacity: 1;
}

.th_maintit,
.th_subtit {
	text-align: center;
	white-space: nowrap;
}

.th_maintit {
	font-weight: bold;
	color: #0d2450;
	letter-spacing: 9px;
	text-indent: 9px;
}

.th_subtit {
	font-size: 12px;
}

.tab_timetable tbody th:hover:before,
.tab_timetable tbody td:hover:before {
	content: "";
	display: block;
	width: 2000%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -1000%;
	z-index: -1;
}

.tab_timetable tbody th:hover:before {
	left: 100%;
}

.tab_timetable td:hover {
	color: #000;
	cursor: pointer;
}

.tab_timetable tbody th:hover:before,
.tab_timetable tbody td:hover:before,
.td_line,
.tab_timetable tbody .td_line {
	background: #fdffd4;
}

.td_select {
	background: rgb(255, 199, 94)!important;
}

.tab_timetable th:hover,
.tab_timetable td:hover {
	background: #fffda0;
}

.tab_timetable thead th:first-child:hover {
	background: none!important;
}

.tab_timetable_tit {
	width: 120px;
}

.tab_timetable_tit>div {
	position: relative;
	width: 100%;
	height: 50px;
	background: #f2f2f2;
	margin: -5px;
	padding: 0 5px;
	overflow: hidden;
}

.tab_timetable_tit span {
	position: absolute;
	top: 9px;
	right: 15px;
}

.tab_timetable_tit span:last-child {
	position: absolute;
	top: auto;
	right: auto;
	bottom: 9px;
	left: 15px;
}

.tab_timetable_titline {
	position: absolute;
	top: 50%;
	left: -50%;
	width: 200%;
	height: 1px;
	background: #e0e0e0;
	transform: rotate(20.5deg);
}

.tab_timetable_info {
	margin: 0 0 5px;
}

.tab_timetable_info:last-child {
	margin: 0;
}

.tab_timetable_info label {
	white-space: nowrap;
}

.tab_timetable_info a {
	display: inline-block;
	color: #40affe;
	text-decoration: underline;
	padding: 2px 5px;
	margin: -2px 0 0 -5px;
	position: relative;
	z-index: 999999;
	background: #fff;
}

.tab_timetable_info a:hover,
.tab_timetable_info a:active {
	color: #ff0000;
}

.tab_timetable .layui-btn {
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	padding: 0 5px;
	margin: 0;
}

.mini_timetable th,
.mini_timetable td {
	font-size: 12px;
	padding: 2px;
	line-height: 15px;
}

.mini_timetable th *,
.mini_timetable td * {
	font-weight: normal
}

.mini_timetable .th_subtit {
	font-size: 12px;
	color: #999;
	transform: scale(0.8);
	letter-spacing: 1px;
}

.mini_timetable .tab_timetable_tit>div {
	height: 34px;
	margin: -2px -2px;
	padding: 0 2px;
}

.mini_timetable .tab_timetable_titline {
	transform: rotate(15deg);
}

.mini_timetable .tab_timetable_tit span {
	top: 5px;
	right: 13px;
}

.mini_timetable .tab_timetable_tit span:last-child {
	top: auto;
	right: auto;
	bottom: 5px;
	left: 13px;
}


/*为空时显示attr placeholder*/


/*不为空时显示正常字段*/

.title_edit:empty:before {
	content: attr(placeholder);
	color: #999;
}


/*焦点时内容为空*/

.title_edit:focus:before {
	content: none;
}

.modular_set,
.modular_set:not([href]):not([tabindex]) {
	font-size: 18px;
	color: #a2b0bd;
	margin: 0 3px 0 0;
	cursor: pointer;
}

.modular_set:last-child,
.modular_set:not([href]):not([tabindex]):last-child {
	margin: 0;
}

.layui-icon-close.modular_set,
.layui-icon-close.modular_set:not([href]):not([tabindex]) {
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	line-height: 18px;
	width: 16px;
	height: 16px;
	padding: 0 0 0 1px;
	background: #bacbda;
	text-align: center;
	position: relative;
	top: -1px;
	border-radius: 100%;
}

.layui-icon-add-circle.modular_set:hover {
	color: #08de0f!important;
}

.layui-icon-close.modular_set:hover {
	color: #fff!important;
	background: #ff3535!important;
}

.group_box .table-bordered td>.edit_text {
	box-sizing: border-box;
	line-height: 18px;
	max-width: 600px;
	border: 1px solid transparent;
}

.group_box .table-bordered td>.edit_text:hover,
.group_box .table-bordered td>.edit_text:focus {
	outline: none;
	border: 1px dashed #9fd2ff;
}

.group_box .table-bordered td>.edit_text:focus {
	background: #f9fcff;
}


/*头部用户*/

.head_info {
	display: inline-block;
	/*margin: 0 20px 0 0;*/
}

.head_info .head_tit {
	font-size: 14px;
	color: #fff;
}


/*头部用户信息*/

.head_info {
	font-size: 14px;
	line-height: 38px;
	position: relative;
}

.head_info img {
	float: left;
	height: 20px;
	margin: 8px 4px 0 0;
	border-radius: 100%;
}

.head_info:hover .head_tit img {
	opacity: 0.8;
}

.head_info span {
	color: #bdbdbd;
}

.head_info:hover .head_tit,
.head_info:hover .head_tit span {
	color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

.head_info:hover .user_detail {
	top: 100%;
	height: auto;
	padding: 10px 0 0;
	opacity: 1;
	transition: all 0.33s ease-in-out;
}

.basic_head_info .operation_mid {
	padding: 0;
	background: #fff;
	border-radius: 3px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.basic_head_info .operation_mid a {
	color: #5e6d82;
	padding: 0 10px;
	line-height: 38px;
	border-top: 1px solid #f4f4f5;
}

.basic_head_info .operation_mid a:first-child {
	border: none;
}

.basic_head_info .operation_mid a:hover {
	color: #409eff;
	text-decoration: underline
}


/*头部用户下拉菜单*/

.user_detail {
	position: absolute;
	top: 300%;
	right: 0;
	height: 0;
	min-width: 100%;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
	z-index: 2;
	opacity: 0;
	transition: all 0.33s ease-in-out;
}

.nav_info:hover .user_detail {
	padding: 0.5rem 0 0;
}

.ud_pointer {
	position: absolute;
	top: 0;
	right: 20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px;
	border-color: transparent transparent #409eff;
}

.basic_head_info .ud_pointer {
	border-color: transparent transparent #e6e6e6;
}

.ud_top {
	box-sizing: border-box;
	padding: 5px 10px;
	background: #409eff;
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}

.ud_top img {
	height: 55px;
	margin: 0 8px 0 0;
}

.ud_info {
	box-sizing: border-box;
	line-height: 17px;
	white-space: nowrap;
	padding: 0 4px 0 60px;
}

.ud_info div {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.8);
	padding: 6px 0 0;
	text-indent: 0;
}

.ud_info div:first-child {
	font-size: 18px;
	color: #fff;
	margin: 4px 0 0;
}


/*头部用户下拉菜单操作项*/

.operation_mid {
	padding: 5px 0;
	background: #f9f9fb;
	border: 1px solid #ebebeb;
}

.operation_mid a,
.ud_logout {
	display: block;
	box-sizing: border-box;
	line-height: 30px;
}

.operation_mid a {
	color: #333;
	white-space: nowrap;
	text-align: left;
	padding: 0 10px;
}

.operation_mid a:hover {
	color: #409eff;
}

.ud_logout {
	color: #333;
	text-align: center;
	white-space: nowrap;
	padding: 5px 10px;
	background: #fff;
	border: 1px solid #ebebeb;
	border-top: none;
}

.ud_logout:hover {
	color: #fb3a00;
}

.nav_info .operation_mid {
	background: rgba(255, 255, 255, 0.8);
	padding: 0;
	border-radius: 3px;
	border: 1px solid rgba(177, 177, 177, 0.3);
}

.nav_box_fix .nav_info .operation_mid {
	border: none;
}

.nav_info .operation_mid a {
	display: block;
	white-space: nowrap;
	border-bottom: 1px solid rgba(177, 177, 177, 0.3);
	line-height: 2.7rem;
	text-align: right;
}

.nav_box_fix .nav_info .operation_mid a {
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	border: none;
}

.nav_info .operation_mid a:last-child {
	border: none;
}

.nav_info .operation_mid a:hover {
	background: #fff;
}

.nav_box_fix .nav_info .operation_mid a:hover {
	background: rgba(0, 0, 0, 0.4);
}


/*区域*/

.field_content {
	margin: 50px 0 0;
	border-width: 1px 0 0;
	border-color: #b3c7dc;
	border-style: dashed;
}

.field_content legend {
	width: auto;
	font-size: 17px;
	color: #5b5f6d;
	margin: 0 0 20px;
}

.field_content legend:before {
	color: #409eff;
	margin: 0 5px 0 0;
}

.field_info {
	color: #5b5f6d;
	margin: 0 0 30px;
}


/*组合form*/

.mix_form .layui-tab-title {
	border: none;
}

.mix_form .layui-tab-title li {
	padding: 0;
	margin: 0 20px 0 0;
}

.mix_form .layui-tab-title .layui-this:after {
	display: none;
}

.mix_form .layui-tab-content {
	padding: 0;
}


/*其他小部件*/

.inline_box {
	display: inline-block;
}

.mix_short_input {
	display: inline-block;
	vertical-align: middle;
	margin: 0 13px 0 0;
	overflow: hidden;
}

.mix_short_input .layui-input {
	float: left;
	width: 120px;
	height: 30px;
	line-height: 30px;
	border-radius: 2px 0 0 2px;
}

.mix_short_input .layui-icon {
	float: right;
	box-sizing: border-box;
	font-size: 18px;
	color: #bfbfbf;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #fafafa;
	border: 1px solid #e6e6e6;
	border-left: 0;
}

.mix_short_input .layui-icon:hover {
	color: #fff;
	background: #ff5722;
	border: 1px solid #ff5722;
}

.mb20 {
	margin: 0 0 20px;
}

.tr {
	text-align: right;
}

.w50 {
	width: 50px;
}

.w120 {
	width: 120px;
}

.h30 {
	height: 30px;
}

.lh30 {
	line-height: 30px;
}

.lh36 {
	line-height: 36px;
}

.va_middle {
	vertical-align: middle;
}


/*添加屏幕控制*/

@media screen and (max-width: 1150px) {
	.head_box {
		padding: 0 20px;
	}
	.layui-fluid {
		padding: 0;
	}
}

@media screen and (max-width: 768px) {
	.layui-fluid {
		padding: 0;
	}
	.detail_item .user_head,
	.detail_item .user-input-block {
		width: 100%;
		height: auto;
		margin: 0;
	}
	.mix_uploadbox .layui-upload-drag {
		float: none;
		width: 100%;
	}
	.tag_box .layui-field-title {
		border: none;
		margin: 0 0 5px;
	}
	.tag_box .layui-field-title legend {
		font-size: 18px;
		padding: 0;
		margin: 0;
		line-height: 20px;
	}
	.tag_box .breadcrumb_top {
		float: none;
		display: block;
		margin: 10px 0 0;
		padding: 0;
		overflow: hidden;
	}
	#chart .layuiadmin-card-list {
		padding: 15px 0;
	}
	#chart .layuiadmin-card-list p.layuiadmin-normal-font {
		padding: 0 0 5px;
	}
	.fill_box {
		padding: 5px;
	}
	.layui-col-md12 {
		margin: 0;
	}
	.gallery-top-box .swiper-container {
		width: 100%!important;
		height: 300px!important;
		margin: 0!important;
	}
	.gallery-thumbs-box .swiper-container {
		width: 90%!important;
		margin: 0 auto!important;
	}
	.proportion_box_one {
		width: 100%;
		height: auto;
		padding: 0;
	}
	.abs_box {
		position: relative;
		height: auto;
	}
	.abs_box video {
		float: none;
		width: 100%;
		height: auto;
		margin: 0;
	}
	.video_info_tit {
		margin: 10px 0 3px;
	}
	.layui-card-body .layui-form-switch {
		margin: 5px 5px 5px 0;
	}
	.layadmin-caller .caller-contar .caller-img {
		margin: 0 10px 0 0;
	}
	.layadmin-caller .caller-contar .caller-item .caller-main {
		padding: 0;
	}
}

@media screen and (min-width:768px) {
	.layui-col-lg1,
	.layui-col-lg10,
	.layui-col-lg11,
	.layui-col-lg12,
	.layui-col-lg2,
	.layui-col-lg3,
	.layui-col-lg4,
	.layui-col-lg5,
	.layui-col-lg6,
	.layui-col-lg7,
	.layui-col-lg8,
	.layui-col-lg9 {
		float: left
	}
	.layui-col-lg1 {
		width: 8.33333333%
	}
	.layui-col-lg2 {
		width: 16.66666667%
	}
	.layui-col-lg3 {
		width: 25%
	}
	.layui-col-lg4 {
		width: 33.33333333%
	}
	.layui-col-lg5 {
		width: 41.66666667%
	}
	.layui-col-lg6 {
		width: 50%
	}
	.layui-col-lg7 {
		width: 58.33333333%
	}
	.layui-col-lg8 {
		width: 66.66666667%
	}
	.layui-col-lg9 {
		width: 75%
	}
	.layui-col-lg10 {
		width: 83.33333333%
	}
	.layui-col-lg11 {
		width: 91.66666667%
	}
	.layui-col-lg12 {
		width: 100%
	}
	.layui-col-lg-offset1 {
		margin-left: 8.33333333%
	}
	.layui-col-lg-offset2 {
		margin-left: 16.66666667%
	}
	.layui-col-lg-offset3 {
		margin-left: 25%
	}
	.layui-col-lg-offset4 {
		margin-left: 33.33333333%
	}
	.layui-col-lg-offset5 {
		margin-left: 41.66666667%
	}
	.layui-col-lg-offset6 {
		margin-left: 50%
	}
	.layui-col-lg-offset7 {
		margin-left: 58.33333333%
	}
	.layui-col-lg-offset8 {
		margin-left: 66.66666667%
	}
	.layui-col-lg-offset9 {
		margin-left: 75%
	}
	.layui-col-lg-offset10 {
		margin-left: 83.33333333%
	}
	.layui-col-lg-offset11 {
		margin-left: 91.66666667%
	}
	.layui-col-lg-offset12 {
		margin-left: 100%
	}
}