/*layui框架修改*/

html {
	color: #333;
	background: #fff;
}
.loading{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1000;
}
.layui-layout-admin .layui-header {
	border-bottom: 1px solid #eee;
	background: #fbfbfb;
}

.layui-layout-admin .layui-logo {
	text-align: left;
}

.layadmin-setTheme-side,
.layui-side-menu,
.layui-layout-admin .layui-logo {
	background: #fff!important;
	background-color: #fff!important;
	box-shadow: none;
	color: #000;
}
/*//layui表格表头居中显示*/
.layui-table-cell{
	margin: 0 auto;
}
.layui-layout-admin .layui-logo {
	font-size: 24px;
	color: #a7bcd2;
	text-shadow: 1px 1px 0px #fff;
	letter-spacing: 1.5px;
	height: 50px;
	padding: 0 10px 0 40px;
	background: #fbfbfb!important;
	border-bottom: 1px solid #eee;
}

.layui-layout-admin .layui-logo .layui-icon {
	display: none;
}

.layadmin-side-shrink .layui-layout-admin .layui-logo {
	padding: 0 10px 0 13px;
}

.layadmin-side-shrink .layui-layout-admin .layui-logo .layui-icon {
	display: block;
	font-size: 30px;
}

.layadmin-side-shrink .layui-layout-admin .layui-logo img {
	display: none;
}

.layui-side-menu .layui-nav {
	box-sizing: border-box;
	border-right: 1px solid #eee;
	margin-top: 89px;
	padding: 0 0 30px;
	/*滚动条显示*/
	height: calc(100% - 89px);
	overflow: hidden auto;
}

.layui-nav .layui-nav-item a {
	color: #333;
}

.layui-layout-admin .layui-header .layui-nav .layui-this:after,
.layui-layout-admin .layui-header .layui-nav-bar,
.layui-nav-tree .layui-nav-bar {
	background-color: #2790fa;
}

.layui-side-menu .layui-nav .layui-nav-item a {
	height: 50px;
	line-height: 50px;
	padding: 0 10px 0 60px;
}

.layadmin-side-shrink .layui-side-menu .layui-nav .layui-nav-item a {
	padding: 0 0px 0 59px;
}

.layui-nav-tree .layui-nav-itemed>a {
	color: #1989fa;
}
.nav-item:hover{
	border-left: #1989fa solid 5px;
}

.layui-nav .layui-nav-item a:hover,
.layui-nav .layui-this a,
.layui-nav-tree .layui-nav-title a,
.layui-nav-tree .layui-nav-title a:hover {
	color: #1989fa!important;
}

.layadmin-side-shrink .layui-side-menu .layui-nav>.layui-nav-itemed>a {
	background: rgb(64, 158, 255);
	color: #fff!important;
}

.layui-nav-itemed>.layui-nav-child {
	background-color: transparent!important;
}

.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this>a,
.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a {
	background-color: #fff!important;
}

.layui-side-menu .layui-nav .layui-nav-item .layui-icon {
	left: 40px;
	margin-top: -25px;
}

.layadmin-side-shrink .layui-side-menu .layui-nav .layui-nav-item .layui-icon {
	left: 20px;
}

.layui-side-scroll .layui-nav .layui-nav-more {
	border-color: #333 transparent transparent;
	border-top-color: rgba(0, 0, 0, .7);
	right: 0;
	position: relative;
	top: 11px;
	left: 5px;
}

.layui-side-scroll .layui-nav-itemed>a .layui-nav-more {
	top: -11px;
	border-color: transparent transparent #409eff;
}

.layui-card .layui-tab-brief .layui-tab-title li {
	margin: 0 20px 0 0;
}

.layui-card .layui-tab-brief .layui-tab-title li:hover,
.layui-card .layui-tab-brief .layui-tab-title li.layui-this {
	color: #409eff;
}

.layadmin-pagetabs {
	box-shadow: none;
	border-bottom: 1px solid #eee;
}

.layadmin-pagetabs .layui-tab-title li.layui-this,
.layadmin-pagetabs .layui-tab-title li:hover {
	background-color: #fff;
}

.layadmin-pagetabs .layui-tab-title li.layui-this {
	color: #409eff;
}

.layadmin-pagetabs .layui-tab-title li.layui-this:after {
	background-color: #409eff!important;
}

.layadmin-pagetabs .layui-tab-title li:after {
	background-color: #409eff!important;
}

.layui-card {
	box-shadow: none;
}

.layui-card-header {
	height: 24px;
	line-height: 25px;
	padding: 0 9px;
	color: #5b5f6d;
	border-radius: 2px 2px 0 0;
	font-size: 18px;
	font-weight: bold;
	border-left: 5px solid #2790fa;
	border-left: 5px solid #409eff;
	border-bottom: none;
}

.layui-card-header>.header_edit {
	float: right;
	height: 24px;
	line-height: 24px;
	border-radius: 24px;
}

.layui-card {
	box-sizing: border-box;
	box-shadow: none;
	border-bottom: 1px solid #dcdcdc;
	padding: 20px 20px;
}

.layui-card:last-child {
	border: none;
}

.layui-btn {
	background: #409eff;
}

table .layui-btn-danger {
	background-color: #FF5722;
}

.layui-btn-primary,
.layui-btn-primary:hover {
	background: #fff;
	border: 1px solid #dcdfe6;
	color: #606266;
}

.layui-form-item {
	margin: 0;
}

.layui-btn-primary:hover {
	opacity: 0.8;
}

.layui-form-select dl dd.layui-this,
.layui-laydate .layui-this {
	background-color: #409eff!important;
}

.layui-card-body {
	padding: 15px 0;
}

.layui-form-label {
	box-sizing: border-box;
	width: 110px;
	padding: 9px 8px;
}

.layui-form-radio>i:hover,
.layui-form-radioed>i {
	color: #409eff;
}

.layui-field-title {
	margin: 5px 0 0;
}

.layui-elem-field legend {
	font-weight: bold;
}


.multi_legend a {
	color: #bbb;
}

.multi_legend a:hover {
	color: #409eff;
}

.multi_legend a+a:before {
	content: "|";
	font-weight: normal;
	color: #ddd;
	margin: 0 9px 0 5px;
}

.legend_select {
	color: #333!important;
}

.layui-field-title+div {
	margin: 20px 0 0;
}

.title_space {
	float: left;
	width: 100%;
	padding: 15px 0;
}
/*顶部分割线补充按钮*/

.breadcrumb_top {
	float: right;
	margin: -23px 20px 0 0;
	background: #fff;
	padding: 0 10px;
	visibility: visible;
}

.breadcrumb_top .breadcrumb_select {
	display: inline-block;
	font-size: 13px;
	color: #fff!important;
	height: 24px;
	line-height: 24px;
	background: #409eff;
	border: none;
	padding: 0 15px;
	margin: 0 10px 0 0;
	border-radius: 22px;
	cursor: pointer;
}

.breadcrumb_division .breadcrumb_select {
	margin: 0;
}

.breadcrumb_top .breadcrumb_select:hover {
	color: #fff!important;
	opacity: 0.7;
}

.breadcrumb_top span[lay-separator] {
	display: none;
}

.breadcrumb_division span[lay-separator] {
	display: inline-block;
}

.layui-breadcrumb *,
.breadcrumb_top * {
	font-size: 12px;
	color: #999;
	border: none;
	background: none;
	cursor: pointer;
}

.layui-breadcrumb.breadcrumb_division *,
.breadcrumb_top.breadcrumb_division * {
	font-size: 14px;
}

.layui-breadcrumb.breadcrumb_division *+*:before,
.breadcrumb_top.breadcrumb_division *+*:before {
	content: "|";
	font-size: 18px;
	color: #ddd;
	margin: 0;
}

.layui-breadcrumb *:hover,
.breadcrumb_top *:hover {
	color: #409eff!important;
}

.breadcrumb_top.breadcrumb_division>a {
	position: relative;
	margin: 0 10px;
}

.breadcrumb_top.breadcrumb_division>a:before {
	position: absolute;
	left: -14px;
}

.work_card .layui-text-top font {
	font-size: 14px;
}

.layuiadmin-card-text .layui-text-top i {
	color: #409eff;
}

/*查看表单*/

.fill_box {
	background-color: #fbfbfb;
	border: 1px solid #eaeefb;
	padding: 20px;
	border-radius: 3px;
}

.detail_item {
	border-left: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.detail_item .layui-row {
	background: #f9f9f9;
}

.detail_item .layui-form-label,
.detail_item .layui-input-block {
	background: #fff;
	border: 1px solid #e6e6e6;
	border-bottom: none;
}

.detail_item .layui-form-label {
	background: #f9f9f9;
	border-left: none;
	border-right: none;
}

.detail_item .layui-input-block {
	min-height: 39px;
}

.detail_item .layui-input-block input,
.detail_item .layui-input-block textarea {
	border: none;
}

.detail_item .layui-input-block .row {
	display: block;
	width: 100%;
	overflow: hidden;
}

.detail_item .layui-form-label {
	box-sizing: border-box;
	width: 128px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.detail_item .layui-input-block {
	margin-left: 128px;
}

.detail_item .user_head {
	width: 150px;
	height: 200px;
	background: url(../images/userhead_bg2.png);
	background-size: 100% 100%;
	padding:10px;
	border-right: 1px solid #e6e6e6;
}

.detail_item .user_head img {
	max-width: 100%;
	height: 100%;
}

.detail_item .user-input-block {
	margin-left: 160px;
	border: none;
	overflow: hidden;
}


/*下载文件*/

.detail_item .file_download,.detail_item .file_download_table {
	box-sizing: border-box;
	display: inline-block;
	border: none;
	padding: 0 10px;
	max-width: 100%;
}

.file_download input,.file_download_table input {
	display: block;
	color: #1e9fff;
	line-height: 38px;
	height: 38px;
	padding: 0;
	border: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
}

.detail_item .file_download:hover input, .detail_item .file_download_table:hover input {
	text-decoration: underline;
	opacity: 0.8;
}
/*预览文件*/

.detail_item .file_show,.detail_item .file_a {
	box-sizing: border-box;
	display: inline-block;
	border: none;
	padding: 0 10px;
	max-width: 100%;
}

.file_show input,.file_a input {
	display: block;
	color: #1e9fff;
	line-height: 38px;
	height: 38px;
	padding: 0;
	border: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
}

.detail_item .file_show:hover input ,.detail_item .file_a:hover input {
	text-decoration: underline;
	opacity: 0.8;
}


/*上传组合*/

.mix_uploadbox .layui-upload-list {
	overflow: hidden;
}

.mix_uploadbox .layui-upload-drag {
	float: left;
	box-sizing: border-box;
	padding: 30px 20px;
	margin: 0 15px 10px 0;
	z-index: 2;
}

.mix_uploadbox .layui-upload-drag:hover {
	border-color: #98cbff;
}

.mix_uploadbox .layui-upload-drag:hover p {
	color: #409eff;
}

.mix_uploadbox .layui-upload-choose {
	display: block;
	color: #009688;
	word-break: break-word;
	width: 100%;
	padding: 0;
}

.mix_uploadbox .layui-table {
	margin: 0;
}

.mix_uploadbox .layui-upload-list .layui-table th,
.mix_uploadbox .layui-upload-list .layui-table td {
	white-space: nowrap;
}

.nowrap {
	white-space: nowrap;
}

.mix_uploadbox .layui-upload-list .layui-table .wordbreak {
	white-space: normal;
	word-break: break-word;
}

.mix_uploadbox .upload_btn {
	text-align: right;
	margin: 10px 0;
	clear: both;
}

.mix_uploadbox .upload_btn button {
	box-sizing: border-box;
	background: #fff;
	color: #409eff;
	border: 1px solid #98cbff;
}


/*登录页面*/

.layadmin-user-login-icon {
	top: 6px;
	left: 6px;
}

.layui-col-xs7 .layadmin-user-login-icon {
	top: 1px;
	left: 1px;
}

.layadmin-user-login-header {
	padding: 10px 20px;
	font-size: 20px;
	color: #fff;
	text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.layadmin-user-login {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 565px;
	padding: 110px 0;
	min-height: 565px;
	box-sizing: border-box;
}

.layadmin-user-login .layui-input {
	border: 1px solid rgba(255, 255, 255, 0.43);
	background-color: rgba(255, 255, 255, 0.3);
}

.layadmin-user-login .layui-input:focus {
	background: #fff;
	border: 1px solid #fff;
}

.layadmin-user-login .layui-input:focus+.layadmin-user-login-icon {
	color: #1989fa;
}

.layadmin-user-login .layui-input::-webkit-input-placeholder {
	color: #fff!important;
}

.layadmin-user-login .layui-input:-ms-input-placeholder {
	color: #fff!important;
}

.layadmin-user-login .layui-input::-moz-placeholder {
	color: #fff!important;
}

.layadmin-user-login-codeimg {
	border-radius: 2px;
}

.layui-form-checkbox[lay-skin=primary] span {
	color: #fff;
	text-shadow: 0 0 0.5px #000;
}

.layadmin-user-login-icon {
	color: #fff;
}

.login_btn {
	background: #3763d8;
}

.canvas-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	background: -webkit-radial-gradient(#9dcfec, #5a82dc, #0024a7);
	/* Safari 5.1 - 6.0 */
	background: -o-radial-gradient(#9dcfec, #5a82dc, #0024a7);
	/* Opera 11.6 - 12.0 */
	background: -moz-radial-gradient(#9dcfec, #5a82dc, #0024a7);
	/* Firefox 3.6 - 15 */
	background: radial-gradient(#9dcfec, #5a82dc, #0024a7);
	/* 标准的语法 */
	/*background: url(../images/login_bg.jpg);
	background-size: 100% 100%;*/
}

#canvas {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}


/*添加屏幕控制*/

@media screen and (max-width: 768px) {
	.detail_item .user_head,
	.detail_item .user-input-block {
		width: 100%;
		height: auto;
		margin: 0;
	}
	.mix_uploadbox .layui-upload-drag {
		float: none;
		width: 100%;
	}
}

@media screen and (min-width:768px) {
	.layui-col-lg1,
	.layui-col-lg10,
	.layui-col-lg11,
	.layui-col-lg12,
	.layui-col-lg2,
	.layui-col-lg3,
	.layui-col-lg4,
	.layui-col-lg5,
	.layui-col-lg6,
	.layui-col-lg7,
	.layui-col-lg8,
	.layui-col-lg9 {
		float: left
	}
	.layui-col-lg1 {
		width: 8.33333333%
	}
	.layui-col-lg2 {
		width: 16.66666667%
	}
	.layui-col-lg3 {
		width: 25%
	}
	.layui-col-lg4 {
		width: 33.33333333%
	}
	.layui-col-lg5 {
		width: 41.66666667%
	}
	.layui-col-lg6 {
		width: 50%
	}
	.layui-col-lg7 {
		width: 58.33333333%
	}
	.layui-col-lg8 {
		width: 66.66666667%
	}
	.layui-col-lg9 {
		width: 75%
	}
	.layui-col-lg10 {
		width: 83.33333333%
	}
	.layui-col-lg11 {
		width: 91.66666667%
	}
	.layui-col-lg12 {
		width: 100%
	}
	.layui-col-lg-offset1 {
		margin-left: 8.33333333%
	}
	.layui-col-lg-offset2 {
		margin-left: 16.66666667%
	}
	.layui-col-lg-offset3 {
		margin-left: 25%
	}
	.layui-col-lg-offset4 {
		margin-left: 33.33333333%
	}
	.layui-col-lg-offset5 {
		margin-left: 41.66666667%
	}
	.layui-col-lg-offset6 {
		margin-left: 50%
	}
	.layui-col-lg-offset7 {
		margin-left: 58.33333333%
	}
	.layui-col-lg-offset8 {
		margin-left: 66.66666667%
	}
	.layui-col-lg-offset9 {
		margin-left: 75%
	}
	.layui-col-lg-offset10 {
		margin-left: 83.33333333%
	}
	.layui-col-lg-offset11 {
		margin-left: 91.66666667%
	}
	.layui-col-lg-offset12 {
		margin-left: 100%
	}
}

.table_edit{
	height: 22px;
	line-height: 22px;
	padding: 0 5px;
	font-size: 12px
}
.layui-table{
	width: 100%!important;
}
.layui-tab-title i{
	vertical-align: middle;
}
.layui-col-md121{
	display:none
}

.operate{
	display: inline-block;
	float: right;
	width: 20%;
}
.menuSet{
	line-height: 50px;
	margin: 10px auto;
}
.addMenuInput{
	width: 60%;
	display: inline-block;
	margin: 10px 50px
}

/* logo 样式修改 */
#teacher .layui-logo img{
	width: 85%;
	height: 80%;
	object-fit: scale-down;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
	text-decoration: none;
}

*,
a,
font,
span,
label,
input,
button {
	font-family: "微软雅黑";
}


/*所有字体不可复制*/

* {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body {
	position: absolute;
	width: 100%;
	min-height: 100%;
}

img {
	border: none;
}

table {
	border-collapse: collapse;
}

.ovh {
	overflow: hidden;
}

.m0 {
	margin: 0;
}

.tc {
	text-align: center;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.bgnone {
	background: none;
}


/*layui框架修改*/

* {
	outline: none;
}

html {
	color: #333;
	background: #fff;
}

.layui-fluid {
	padding: 30px 100px;
}

.layui-layout-admin .layui-header {
	border-bottom: 1px solid #eee;
	background: #fbfbfb;
}

.layui-layout-admin .layui-logo {
	text-align: left;
}

.layadmin-setTheme-side,
.layui-side-menu,
.layui-layout-admin .layui-logo {
	background: #fff!important;
	background-color: #fff!important;
	box-shadow: none;
	color: #000;
}

.layui-layout-admin .layui-logo {
	font-size: 24px;
	color: #a7bcd2;
	text-shadow: 1px 1px 0px #fff;
	letter-spacing: 1.5px;
	height: 50px;
	padding: 0 10px 0 40px;
	background: #fbfbfb!important;
	border-bottom: 1px solid #eee;
}

.layui-layout-admin .layui-logo .layui-icon {
	display: none;
}

.layadmin-side-shrink .layui-layout-admin .layui-logo {
	padding: 0 10px 0 13px;
}

.layadmin-side-shrink .layui-layout-admin .layui-logo .layui-icon {
	display: block;
	font-size: 30px;
}

.layadmin-side-shrink .layui-layout-admin .layui-logo img {
	display: none;
}

.layui-side-menu .layui-nav {
	box-sizing: border-box;
	border-right: 1px solid #eee;
	margin-top: 89px;
	padding: 0 0 30px;
}

.layui-nav .layui-nav-item a {
	color: #333;
}

.layui-layout-admin .layui-header .layui-nav .layui-this:after,
.layui-layout-admin .layui-header .layui-nav-bar,
.layui-nav-tree .layui-nav-bar {
	background-color: #2790fa;
}

.layui-side-menu .layui-nav .layui-nav-item a {
	height: 50px;
	line-height: 50px;
	padding: 0 10px 0 60px;
}

.layadmin-side-shrink .layui-side-menu .layui-nav .layui-nav-item a {
	padding: 0 0px 0 59px;
}

.layui-nav-tree .layui-nav-itemed>a {
	color: #1989fa;
}

.layui-nav .layui-nav-item a:hover,
.layui-nav .layui-this a,
.layui-nav-tree .layui-nav-title a,
.layui-nav-tree .layui-nav-title a:hover {
	color: #1989fa!important;
}

.layadmin-side-shrink .layui-side-menu .layui-nav>.layui-nav-itemed>a {
	background: rgb(64, 158, 255);
	color: #fff!important;
}

.layui-nav-itemed>.layui-nav-child {
	background-color: transparent!important;
}

.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this>a,
.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a {
	background-color: #fff!important;
}

.layui-side-menu .layui-nav .layui-nav-item .layui-icon {
	left: 40px;
	margin-top: -25px;
}

.layadmin-side-shrink .layui-side-menu .layui-nav .layui-nav-item .layui-icon {
	left: 20px;
}

.layui-side-scroll .layui-nav .layui-nav-more {
	border-color: #333 transparent transparent;
	border-top-color: rgba(0, 0, 0, .7);
	right: 0;
	position: relative;
	top: 11px;
	left: 5px;
}

.layui-side-scroll .layui-nav-itemed>a .layui-nav-more {
	top: -11px;
	border-color: transparent transparent #409eff;
}

.layui-card .layui-tab-brief .layui-tab-title li {
	margin: 0 20px 0 0;
}

.layui-card .layui-tab-brief .layui-tab-title li:hover,
.layui-card .layui-tab-brief .layui-tab-title li.layui-this {
	color: #409eff;
}

.layadmin-pagetabs {
	box-shadow: none;
	border-bottom: 1px solid #eee;
}

.layadmin-pagetabs .layui-tab-title li.layui-this,
.layadmin-pagetabs .layui-tab-title li:hover {
	background-color: #fff;
}

.layadmin-pagetabs .layui-tab-title li.layui-this {
	color: #409eff;
}

.layadmin-pagetabs .layui-tab-title li.layui-this:after {
	background-color: #409eff!important;
}

.layadmin-pagetabs .layui-tab-title li:after {
	background-color: #409eff!important;
}

.layui-elem-field legend {
	font-weight: bold;
}

.layui-card-header {
	height: 24px;
	line-height: 25px;
	padding: 0 9px;
	color: #5b5f6d;
	border-radius: 2px 2px 0 0;
	font-size: 17px;
	font-weight: bold;
	border-left: 5px solid #2790fa;
	border-left: 5px solid #409eff;
	border-bottom: none;
}

.caller-tab .layui-card-header {
	margin: 0 0 20px;
}

.layui-card-header>.header_edit {
	float: right;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	border: 1px solid transparent;
	border-radius: 24px;
}

.layui-card-header>.header_edit:hover {
	color: #409eff;
	background: #fff;
	border: 1px solid #409eff;
}

.layui-card-header font {
	font-size: 14px;
	font-weight: normal;
	color: #ff5722;
	margin: 0 0 0 3px;
}

.layui-card {
	box-sizing: border-box;
	box-shadow: none;
	padding: 15px 0;
}

.layui-btn {
	background: #409eff;
}

.layui-btn-warm {
	background: #ff861e;
}

.layui-btn-green {
	background: #16b51c;
}

.layui-btn-red {
	background: #ff5722!important;
}

.layui-btn-white {
	background: #fff;
}

.layui-btn-info,
.layui-btn-info:hover {
	color: #409eff;
	background: #fff;
	border: 1px solid #409eff;
}

table .layui-btn-danger {
	background-color: #FF5722;
}

.layui-btn-primary,
.layui-btn-primary:hover {
	background: #fff;
	border: 1px solid #dcdfe6;
	color: #606266;
}

.layui-btn-sm {
	height: 22px;
	line-height: 22px;
	padding: 0 7px;
	margin: 5px 0 0;
}

input[type="reset"].layui-btn-sm {
	height: 24px;
}

.layui-form-item {
	margin: 0;
}

.layadmin-message-fluid .layui-form-item {
	margin: 0 0 15px;
}

.layadmin-message-fluid .layui-form-item:last-child {
	margin: 0;
}

.layui-btn-primary:hover {
	opacity: 0.8;
}

.layui-form-select .layui-edge {
	right: 7px;
	border-radius: 3px;
}

.layui-form-select dl dd.layui-this,
.layui-laydate .layui-this {
	background-color: #409eff!important;
}

.layui-card-body {
	padding: 15px 0;
}

.layui-card-body .render_tab {
	margin: 0;
}

.layui-form-label {
	box-sizing: border-box;
	width: 110px;
	padding: 9px 8px;
}

.layui-laydate-main {
	width: 240px!important;
}

.layui-laydate-header {
	line-height: 28px!important;
	padding: 5px 70px 3px!important;
}

.layui-laydate-header i {
	top: 4px!important;
}

.layui-laydate-content {
	padding: 5px 10px!important;
}

.layui-laydate-content td,
.layui-laydate-content th {
	height: 26px!important;
	padding: 3px!important;
}

.layui-laydate-footer {
	height: 37px!important;
	padding: 4px 20px!important;
}

.laydate-footer-btns {
	top: 5px!important;
}

.mix_line {
	padding: 20px 0;
}

.search_line .layui-inline {
	margin: 0;
}

.search_line .layui-form-label {
	width: auto;
}

.mix_line .layui-form-label {
	width: auto;
	padding: 5px 8px;
}

.search_line .layui-form-checkbox {
	margin: 0;
}

.search_line .layui-form-checked i {
	color: #409eff;
}

.mix_line .xm-select-parent .xm-select-title,
.mix_line .xm-select-parent .xm-select,
.mix_line .xm-select-parent .xm-input,
.mix_line .layui-input,
.mix_line .layui-btn {
	min-height: 30px;
	height: 30px;
	line-height: 30px;
}

.layui-form-radio>i:hover,
.layui-form-radioed>i {
	color: #409eff;
}

.layui-table-cell .layui-icon {
	font-size: 14px;
}

.layui-input:focus,
.layui-textarea:focus {
	border-color: #9dc8f5!important;
}

.layui-textarea {
	resize: none;
}

.layuiadmin-card-list p.layuiadmin-normal-font {
	font-size: 17px;
	font-weight: bold;
	color: #a8b2bd;
}

.layui-tab-title li:before {
	margin: 0 2px 0 0;
}

.layui-tab-title li font {
	color: #a8b2bd;
	margin: 0 0 0 5px;
}

.layui-form-switch {
	box-sizing: border-box;
	height: 24px;
	padding: 0 6px 0 2px;
	margin: 0 5px 0 0;
}

.layui-form-switch:last-child {
	margin: 0;
}

.layui-form-switch em {
	font-size: 14px;
}

.layui-layer-btn {
	border-top: 1px solid #eee;
	background: #f8f8f8;
	padding: 2px 15px 6px!important;
	pointer-events: auto;
	user-select: none;
	-webkit-user-select: none;
}

.layui-layer {
	max-height: 100%;
}


/*.layui-col-md12 {
	margin: 0 0 10px;
}*/

.layui-col-md12:last-child {
	margin: 0;
}

.message-content .media-body {
	margin-bottom: 0;
	padding: 25px 0;
	overflow: hidden;
	border-bottom: 1px solid #e0e0e0;
}

.caller_bom .layui-breadcrumb {
	display: inline-block;
}

.caller_bom .layui-breadcrumb a,
.caller_bom .layui-breadcrumb button {
	font-size: 12px;
}

.caller_bom .caller-iconset i {
	font-size: 11px;
	color: #999;
	cursor: pointer;
}

.caller_bom .caller-iconset i:before {
	font-size: 15px;
	margin: 0 2px 0 0;
}

.dialogue_btn_select,
.caller_bom .caller-iconset .layui-icon-dialogue:hover {
	color: #5cb85c!important;
}

.star_btn_select,
.caller_bom .caller-iconset .layui-icon-star:hover {
	color: #f0ad4e!important;
}

.praise_btn_select,
.caller_bom .caller-iconset .layui-icon-praise:hover {
	color: #d9534f!important;
}

.reply_box .caller-item {
	box-sizing: border-box;
	background: #f8f8f8;
	padding: 15px!important;
	/*border-top: 1px solid #e6e6e6!important;*/
}

.reply_box .caller-item:first-child {
	margin: 20px 0 0;
}

.reply_box .caller-item:last-child {
	border: none;
}


/*顶部分割线补充按钮*/

.breadcrumb_top {
	float: right;
	margin: -23px 20px 0 0;
	background: #fff;
	padding: 0 10px;
	visibility: visible;
}

.breadcrumb_top .breadcrumb_select {
	display: inline-block;
	font-size: 13px;
	color: #fff!important;
	height: 24px;
	line-height: 24px;
	background: #409eff;
	padding: 0 15px;
	border-radius: 22px;
}

.breadcrumb_top .breadcrumb_select:hover {
	color: #fff!important;
	opacity: 0.8;
}

.layui-breadcrumb a,
.layui-breadcrumb button,
.layui-breadcrumb font {
	font-size: 12px;
	color: #999!important;
	border: none;
	background: none;
	cursor: pointer;
}


/*.layui-breadcrumb a:last-child,
.layui-breadcrumb font:last-child {
	margin: 0 0 0 10px;
}*/

.layui-breadcrumb a:hover,
.layui-breadcrumb button:hover {
	color: #409eff!important;
}

.layuiadmin-card-text {
	/*border: 1px solid #e3e9ef;*/
}

.work_card .layui-text-top font {
	font-size: 14px;
}

.layuiadmin-card-text .layui-text-top i {
	color: #409eff;
}

.layui-table .layui-input {
	height: 28px;
	line-height: 28px;
}

.layui-table .layui-input.layui-table-edit {
	height: 38px;
	line-height: 38px;
}

.layui-table a.layui-icon {
	font-size: 17px;
	font-weight: bold;
	color: #409eff;
}

.layui-table a:hover {
	cursor: pointer;
	opacity: 0.8;
}

.layui-table-fixed-l {
	box-shadow: none;
	left: -1px;
}

.layui-form-item .layui-btn {
	margin: 0!important;
}

.layui-table-view {
	margin: 0!important;
}


/*项目主页*/

.project_head .layui-card {
	display: block;
	padding: 0;
	border-radius: 4px;
	transition: all 0.3s;
	overflow: hidden;
	/*border: 1px solid #e6e6e6;*/
}

.project_head .layui-card:hover {
	filter: brightness(110%);
	cursor: pointer;
}

.allpj {
	border: 1px solid #d9534f;
}

.finishedpj {
	border: 1px solid #337ab7;
}

.ongoingpj {
	border: 1px solid #5cb85c;
}

.lockpj {
	border: 1px solid #f0ad4e;
}

.project_head .layui-card-header,
.project_head .layui-card-body {
	padding: 10px 20px;
}

.project_head .layui-card-header {
	font-size: 14px;
	font-weight: normal;
	border: none;
	background: #fafafa;
}

.allpj .layui-card-header {
	color: #d9534f;
}

.finishedpj .layui-card-header {
	color: #337ab7;
}

.ongoingpj .layui-card-header {
	color: #5cb85c;
}

.lockpj .layui-card-header {
	color: #f0ad4e;
}

.project_head .layui-card-body {
	position: relative;
}

.allpj .layui-card-body {
	background: #d9534f;
}

.finishedpj_btn,
.finishedpj .layui-card-body {
	background: #337ab7;
}

.ongoingpj_btn,
.ongoingpj .layui-card-body,
.startproject {
	background: #5cb85c;
}

.lockpj_btn,
.lockpj .layui-card-body {
	color: #fff;
	background: #f0ad4e;
	border: none;
}

.finishedpj_btn,
.ongoingpj_btn,
.lockpj_btn {
	opacity: 1!important;
	cursor: default;
	border-radius: 100%;
	padding: 0;
	width: 22px;
	text-align: center;
	text-indent: 3px;
}

.finishedpj_btn .layui-icon,
.ongoingpj_btn .layui-icon,
.lockpj_btn .layui-icon {
	font-size: 16px!important;
}

.project_head .layuiadmin-card-list p {
	color: #fff;
	text-align: right;
}

.pjhead_icon {
	position: absolute;
	top: 35px;
	left: 20px;
	font-size: 55px;
	color: #fff;
}

.project_head .layui-card-header .layui-icon {
	font-size: 14px;
}


/*查看表单*/

.tabsearch {
	padding: 0 10px;
	margin: 0 0 10px;
}

.layui-col-space20 .tabsearch {
	margin: 10px 0;
}

.fill_box {
	background-color: #fbfbfb;
	border: 1px solid #eaeefb;
	padding: 15px;
	border-radius: 3px;
}

.layadmin-message-fluid .fill_box {
	margin: 20px 0 0;
}

.detail_item {
	border-left: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.detail_item .layui-row {
	background: #f9f9f9;
}

.detail_item .layui-form-label,
.detail_item .layui-input-block {
	background: #fff;
	border: 1px solid #e6e6e6;
	border-bottom: none;
}

.detail_item .layui-form-label {
	background: #f9f9f9;
	border-left: none;
	border-right: none;
}

.detail_item .layui-input-block {
	min-height: 39px;
}

.detail_item .layui-input-block input,
.detail_item .layui-input-block textarea {
	border: none;
}

.detail_item .layui-input-block .row {
	display: block;
	width: 100%;
	overflow: hidden;
}

.detail_item .layui-form-label {
	box-sizing: border-box;
	width: 128px;
}

.detail_item .layui-input-block {
	margin-left: 128px;
}

.detail_item .user_head {
	width: 160px;
	height: 200px;
	background: url(../images/userhead_bg2.png);
	background-size: 100% 100%;
	padding: 0;
	border-right: 1px solid #e6e6e6;
}

.detail_item .user_head img {
	width: 100%;
}

.detail_item .user-input-block {
	margin-left: 160px;
	border: none;
	overflow: hidden;
}


/*下载文件*/

.detail_item .file_download ,.detail_item .file_a {
	box-sizing: border-box;
	display: inline-block;
	border: none;
	padding: 0 10px;
	max-width: 100%;
	position: relative;
}

.detail_item .file_download:after,.detail_item .file_a:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.detail_item .file_show {
	box-sizing: border-box;
	display: inline-block;
	border: none;
	padding: 0 10px;
	max-width: 100%;
	position: relative;
}
.detail_item .file_show:after, .detail_item .file_a:after{ /*预览文件*/
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.file_download input,.file_a input {
	display: block;
	color: #1e9fff;
	line-height: 38px;
	height: 38px;
	padding: 0;
	border: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
}

.detail_item .file_download:hover input,.detail_item .file_a:hover input {
	text-decoration: underline;
	opacity: 0.8;
}

.layuiadmin-card-text .layui-text-bottom .ltb_btn {
	font-size: 12px;
	color: #fff;
	background: #409eff;
	border: none;
	padding: 3px 7px;
	position: relative;
	top: -1px;
	border-radius: 2px;
	cursor: pointer;
}

.layuiadmin-card-text .layui-text-bottom .ltb_btn:hover {
	opacity: 0.8;
}


/*上传组合*/

.mix_uploadbox .layui-upload-list {
	overflow: hidden;
}

.mix_uploadbox .layui-upload-drag {
	float: left;
	box-sizing: border-box;
	padding: 30px 20px;
	margin: 0 15px 10px 0;
	z-index: 2;
}

.mix_uploadbox .layui-upload-drag:hover {
	border-color: #98cbff;
}

.mix_uploadbox .layui-upload-drag:hover p {
	color: #409eff;
}

.mix_uploadbox .layui-upload-choose {
	display: block;
	color: #009688;
	word-break: break-word;
	width: 100%;
	padding: 0;
}

.mix_uploadbox .layui-table {
	margin: 0;
}

.mix_uploadbox .layui-upload-list .layui-table th,
.mix_uploadbox .layui-upload-list .layui-table td {
	white-space: nowrap;
}

.nowrap {
	white-space: nowrap;
}

.mix_uploadbox .layui-upload-list .layui-table .wordbreak {
	white-space: normal;
	word-break: break-word;
}

.mix_uploadbox .upload_btn {
	text-align: right;
	margin: 10px 0;
	clear: both;
}

.mix_uploadbox .upload_btn button {
	box-sizing: border-box;
	background: #fff;
	color: #409eff;
	border: 1px solid #98cbff;
}


/*网格图片&信息显示*/

.pictext_net {
	box-sizing: border-box;
	background: #fff;
	padding: 10px;
}

.pn_img_box {
	width: 100%;
	padding: 75% 0 0;
	position: relative;
}

.pn_img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.pn_img img {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.pn_info {
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}

.space20_bg {
	margin: 0;
	padding: 10px;
	background: #f8f8f8;
}


/*视频*/


/*比例盒子*/

.proportion_box_one {
	width: 100%;
	padding: 30% 0 0;
	position: relative;
}

.abs_box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.abs_box video {
	float: left;
	width: auto;
	height: 100%;
	margin: 0 20px 0 0;
}

.video_info {
	text-align: left;
}

.video_info_tit {
	font-size: 17px;
	margin: 0 0 20px;
}

.video_info_content {
	line-height: 20px;
}


/*自定义标签页样式一*/

.customtab_one {
	margin: 0;
}

.customtab_one .layui-tab-content {
	padding: 25px 0!important;
}


/*链接侧边栏*/

.quick_line {
	position: fixed;
	right: 15px;
	bottom: 15px;
	z-index: 200;
}

.quick_line a,
.top {
	display: inline-block;
	box-sizing: border-box;
	float: left;
	clear: both;
	font-size: 14px;
	color: #fff;
	line-height: 17px;
	letter-spacing: 2px;
	width: 50px;
	height: 50px;
	background: #409eff;
	padding: 8px 0 0 8px;
	margin: 5px 0 0;
	border: 1px solid #efefef;
	cursor: pointer;
}

.top {
	display: none;
	font-size: 40px;
	padding: 0 0 0 4px;
	line-height: 50px;
	text-align: center;
}

.top:hover, .quick_line a:hover {
	background: #409eff;
	color: #fff;
	opacity: 0.8;
}


/*问答*/

.q_btn.header_edit:after {
	content: "我要提问 \e61a";
}

.q_btn_show {
	color: #409eff!important;
	background: #fff!important;
	border: 1px solid #409eff!important;
}

.q_btn_show.header_edit:after {
	content: "收起提问 \e619";
}

.q_box {
	display: none;
}

.reply_box .q_box {
	margin: 20px 0 0;
}


/*底部综合按钮*/

.bottom_btnbox {
	text-align: center;
	padding: 30px 0;
}

.bottom_btnbox .layui-btn {
	height: 45px;
	line-height: 45px;
	padding: 0 45px;
}


/*按钮input读取字段可换行*/

.btn_article {
	word-break: break-all;
	white-space: inherit;
	text-align: left;
	line-height: 20px;
	background: none;
	border: none;
}


/*排课使用样式*/


/*主体*/

.main_content {
	box-sizing: border-box;
	width: 100%;
	/*padding: 20px 33px 99px;*/
	padding: 33px 33px 99px;
}


/*修改layui css*/

.layui-input:focus,
.layui-textarea:focus {
	border-color: #9dc8f5!important;
}

.layui-tab {
	margin: 0;
}

.layui-tab-content {
	padding: 20px 0 0;
}

.layui-table tbody tr:hover,
.layui-table thead tr,
.layui-table-click,
.layui-table-header,
.layui-table-hover,
.layui-table-mend,
.layui-table-patch,
.layui-table-tool,
.layui-table-total,
.layui-table-total tr,
.layui-table[lay-even] tr:nth-child(even) {
	background-color: #f4f4f5;
}


/*.layui-table-body {
	margin: 0!important;
}*/

.layui-table-fixed-r {
	box-shadow: -1px 0 4px rgba(0, 0, 0, .08);
}

.layui-table-edit,
.layui-table-edit:hover,
.layui-table-edit:focus {
	background: #ffffe5;
	/*border: 1px solid #409eff!important;*/
}


/*步骤*/

.step_box {
	display: flex;
	margin: 20px 0 30px;
}

.step_content {
	display: inline-block;
	flex: auto;
}

.step_box .step_content:last-child {
	flex: none;
}

.step_content>label {
	float: left;
	box-sizing: border-box;
	font-size: 14px;
	color: #b2b2b2;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #fff;
	border: 1px solid #b2b2b2;
	border-radius: 100%;
	vertical-align: top;
	transition: all 0.3s;
}

.select_step_content>label {
	color: #fff;
	background: #409eff;
	border: none;
}

.step_content:nth-child(1)>label:before {
	content: "1";
}

.step_content:nth-child(2)>label:before {
	content: "2";
}

.step_content:nth-child(3)>label:before {
	content: "3";
}

.step_content:nth-child(4)>label:before {
	content: "4";
}

.step_content:nth-child(5)>label:before {
	content: "5";
}

.finish_step_content>label {
	border: 1px solid #409eff;
}

.finish_step_content>label:before {
	content: "✔"!important;
	content: "\e605"!important;
	color: #409eff;
}

.finish_step_content .step_text div font {
	color: #409eff;
}

.step_text {
	font-size: 16px;
	color: #b2b2b2;
	vertical-align: top;
	padding: 0 12px 0 42px;
	transition: all 0.3s;
}

.select_step_content .step_text {
	font-weight: bold;
	color: #666;
}

.step_box .step_content:last-child .step_text {
	padding-right: 0;
}

.step_text div {
	border-top: 1px solid #e6e6e6;
	line-height: 0;
	margin: 10px 0 20px;
}

.step_text div font {
	background: #fff;
	padding: 0 12px 0 0;
}

.step_box .step_content:last-child .step_text div font {
	padding: 0;
}

.step_text span {
	display: block;
	font-size: 14px;
	font-weight: normal;
	color: #b2b2b2;
	line-height: 14px;
	margin: 10px 0 0px;
}


/*模块信息*/

.layui-elem-field legend {
	font-weight: bold;
}

.breadcrumb_top {
	float: right;
	margin: -23px 20px 0 0;
	background: #fff;
	padding: 0 10px;
	visibility: visible;
}

.breadcrumb_top .breadcrumb_select {
	display: inline-block;
	font-size: 13px;
	color: #fff!important;
	height: 24px;
	line-height: 24px;
	background: #409eff;
	padding: 0 15px;
	border-radius: 22px;
}

.layui-breadcrumb a,
.layui-breadcrumb button,
.layui-breadcrumb font {
	font-size: 12px;
	color: #999!important;
	border: none;
	background: none;
	cursor: pointer;
}

.lesson_info {
	font-size: 0;
	line-height: 14px;
	overflow: hidden;
}

.li_cell_tit {
	margin: 0 0 10px;
	border-bottom: 1px solid #e6e6e6;
	overflow: hidden;
	position: relative;
}

.li_cell {
	display: inline-block;
	box-sizing: border-box;
	font-size: 14px;
	color: #5b5f6d;
	line-height: 20px;
	margin: 0 17px 0 0;
}

.li_cell:last-child {
	margin: 0;
}

.lesson_name {
	float: left;
	box-sizing: border-box;
	font-size: 20px;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	padding: 8px 292px 12px 0;
	overflow: hidden;
}

.link_r {
	position: absolute;
	right: 0;
	bottom: 5px;
}

.li_cell .fa,
.li_cell .layui-icon {
	color: #409eff;
	margin: 0 2.5px 0 0;
}

.li_cell span {
	display: inline-block;
	/*font-size: 13px;
	color: #fff;
	padding: 0 4px;
	background: #b2b2b2;
	border-radius: 20px;*/
}

.li_cell span:after {
	content: "●";
	display: inline-block;
	color: #9e9e9e;
	color: #409eff;
	margin: 0 2px 0 6px;
}

.li_cell span:last-child:after {
	display: none;
}

.li_cell span font:after {
	content: "|";
	color: #e6e6e6;
	margin: 0 3px;
}

.li_cell span font:last-child:after {
	display: none;
}

.li_cell a {
	color: #409eff;
	border-bottom: 1px solid #409eff;
}

.li_cell a:hover,
.li_cell a:active {
	cursor: pointer;
	opacity: 0.8;
}


/*卡片*/

.layui-card {
	box-sizing: border-box;
	box-shadow: none;
	padding: 15px 0;
}

.layui-card-header {
	height: 24px;
	line-height: 25px;
	padding: 0 9px;
	color: #5b5f6d;
	border-radius: 2px 2px 0 0;
	font-size: 17px;
	font-weight: bold;
	border-left: 5px solid #2790fa;
	border-left: 5px solid #409eff;
	border-bottom: none;
}

.layui-card-body {
	padding: 15px 0;
}

.layuiadmin-card-text .layui-text-bottom .card_download {
	color: #409eff;
	color: #fff;
	background: #409eff;
	padding: 2px 7px;
	position: relative;
	top: -1px;
	border-radius: 2px;
	cursor: pointer;
}


/*单双击选择*/

.flexibleselect_item {
	margin: 0;
}

.flexibleselect_item .layui-form-label {
	text-align: left;
	width: auto;
	padding: 2.5px 0;
}

.flexibleselect_item .layui-input-block {
	margin-left: 50px;
	min-height: 25px;
}

.flexibleselect {
	font-size: 0;
}

.flexibleselect .layui-form-checkbox {
	height: 25px;
	line-height: 25px;
	margin: 0 7px 0 0;
	padding: 0 25px 0 0;
	padding: 0;
}

.layui-form-checkbox span {
	padding: 0 6px;
	background: #bdc7d0;
	background: #becad6;
	background: #c1d0de;
	border-radius: 2px;
}

.layui-form-checkbox:hover span {
	background: #409eff;
}

.flexibleselect .layui-form-checkbox i {
	display: none;
	width: 25px;
	height: 23px;
	border: 1px solid #c2c2c2;
	border-left: none;
}


/*formselect*/

.xm-select-parent .xm-select {
	padding-right: 25px;
}

.xm-select-parent .xm-select .xm-select-label {
	width: 100%;
	/*left: 0!important;*/
	white-space: nowrap;
	overflow: hidden;
}

.xm-select-parent .xm-form-select dl dd,
.xm-form-checkbox>span {
	white-space: normal;
	height: auto;
	overflow: visible;
}

.xm-select-parent .xm-form-select dl dd:first-child {
	height: 26px;
	border-bottom: 1px solid #e6e6e6;
	padding: 0 8px!important;
}

.xm-select-parent dd>.xm-cz-group {
	max-width: 100%!important;
	border: none;
	margin: 9px 0 0;
}

.xm-select-parent dd>.xm-cz {
	display: none;
}

.xm-select-parent dd>.xm-cz-group .xm-cz {
	margin-right: 6px!important;
}

.xm-select-parent dd>.xm-cz-group .xm-cz:last-child {
	margin: 0!important;
}

.xm-select-parent dd>.xm-cz-group .xm-cz i {
	display: none;
}

div[xm-select-skin=normal] .xm-select-title div.xm-select-label>span {
	font-size: 12px;
	max-width: 45px;
	white-space: nowrap;
	text-overflow: ellipsis;
	border: none;
	overflow: hidden;
}

.xm-form-checkbox>span {
	padding: 0 0 0 30px;
}

.xm-select-parent .xm-select .xm-select-input {
	vertical-align: top;
	width: 22px!important;
	height: 22px;
	margin: 2px 0 0;
}

.xm-select-parent .xm-form-selected .xm-select-sj {
	/*overflow: visible;*/
}

.xm-select-parent .xm-select-sj {
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	margin: 0!important;
	background: #fff;
	overflow: hidden;
	position: absolute;
	right: 0px;
	top: 4px;
	cursor: pointer;
	transition: all .3s;
	-webkit-transition: all .3s;
	border: none;
}

.xm-select-parent .xm-select-sj:after {
	content: "\f0d7";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	color: #c2c2c2;
	font-size: 17px;
	position: absolute;
	top: 0;
	right: 0;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
}


/*.xm-select-parent .xm-select .xm-select-input:last-child {
	display: none;
}*/


/*新增编辑表格样式*/

.tab_font {
	display: inline-block;
	font-size: 13px;
	color: #fff;
	margin: 0 0 0 4px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #b2b2b2;
	border-radius: 100%;
}

.layui-table-edit,
.layui-table-edit:hover,
.layui-table-edit:focus {
	/*background: #ffffe5;*/
	background: #f8feff;
	border: 1px dashed #409eff!important;
	box-shadow: none;
}

.edit_tab+.layui-table-view .layui-table-main tbody td .layui-table-cell:hover,
.edit_tab+.layui-table-view .layui-table-fixed-r tbody td .layui-table-cell:hover {
	color: #409eff;
	height: 38px;
	line-height: 26px;
	padding: 5px 14px!Important;
	margin: -7px 0!important;
	background: #fff;
	border: 1px dashed #409eff!Important;
}

.edit_tab+.layui-table-view .layui-table-main tbody td .layui-table-cell:hover .tab_font,
.edit_tab+.layui-table-view .layui-table-fixed-r tbody td .layui-table-cell:hover .tab_font {
	background: #409eff;
}

.tab_auto_box {
	border: 1px solid #e6e6e6;
	border-bottom: none;
	overflow-x: auto;
}

.auto_box {
	overflow: auto;
}

.addselect_tab+.layui-table-view {
	border: none;
	padding: 0 1px 1px 0;
}

.addselect_tab+.layui-table-view .layui-table[lay-skin=line] {
	border-width: 0;
}

.addselect_tab+.layui-table-view .layui-table-box {
	overflow: visible;
}

.addselect_tab+.layui-table-view .layui-table-body {
	overflow: visible;
}

.addselect_tab+.layui-table-view .layui-table-header {
	overflow: visible;
}

.addselect_tab+.layui-table-view .layui-table-cell {
	overflow: visible;
}


/*课程卡片*/

.lesson_card .layuiadmin-card-text {
	padding: 15px;
	border: 1px solid #e6e6e6;
}

.lesson_card .layuiadmin-card-text .layui-text-center {
	height: auto;
	overflow: visible;
}

.lesson_card .layuiadmin-card-text .layui-text-top {
	font-size: 0;
	padding: 0 0 5px;
}

.lesson_card .layuiadmin-card-text .layui-text-top font {
	font-size: 14px;
}

.lesson_card .layuiadmin-card-text .layui-text-top font:after {
	content: "|";
	color: #d2d2d2;
	margin: 0 5px;
	position: relative;
	top: -2px;
}

.lesson_card .layuiadmin-card-text .layui-text-top font:last-child:after {
	display: none;
}

.lesson_card .layuiadmin-card-text .layui-text-top i {
	font-size: 20px;
}


/*特殊表格样式*/

.schedule_left {
	float: none;
	width: auto;
	padding: 0 380px 0 10px;
}

.schedule_right {
	box-sizing: border-box;
	float: right;
	width: 360px;
	padding: 0 10px;
}

.schedule_right .layui-form-selectup dl {
	width: 140px;
}

.schedule_right .layui-form-select dl dd {
	white-space: normal;
}

.schedule_right_fix {
	position: fixed;
	top: 0;
	right: 23px;
	height: 100%;
	padding: 0 10px 79px;
}

.mini_tab th,
.mini_tab td {
	font-size: 12px;
	padding: 9px 2px;
}

.mini_tab .layui-btn {}

.schedule_tab {
	background: none;
	overflow: hidden;
}

.schedule_tab thead tr,
.schedule_tab tbody tr {
	background: none;
}

.schedule_tab th,
.schedule_tab td {
	text-align: center;
	background: none;
	position: relative;
	outline: 0;
}

.schedule_tab td {
	width: 5%;
	line-height: 16px;
}

.schedule_tab thead tr:first-child th:first-child {
	background: #fff;
}

.schedule_tab th {
	white-space: nowrap;
	min-width: 20px;
}

.schedule_tab tbody th {
	padding: 9px;
}

.schedule_tab thead tr:first-child th,
.schedule_tab tbody .schedule_day_th {
	font-weight: bold;
	background: #409eff;
	background: #727282;
	color: #fff;
}

.schedule_tab thead th:after,
.schedule_tab tbody th:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f4f4f5;
	z-index: -2;
}

.schedule_tab thead th:hover,
.schedule_tab tbody th:hover {
	color: #409eff!important;
	background: #fff!important;
}

body:not(.nohover) .schedule_tab tbody tr:hover {
	background: none;
}

.schedule_tab td:hover::after,
.schedule_tab thead th:not(:empty):hover::after,
.schedule_tab td:focus::after,
.schedule_tab thead th:not(:empty):focus::after {
	content: '';
	position: absolute;
	top: -5000px;
	left: 0;
	width: 100%;
	height: 10000px;
	z-index: -1;
}

.schedule_tab td:hover::before,
.schedule_tab tbody th:not(:empty):hover::before,
.schedule_tab td:focus::before,
.schedule_tab tbody th:not(:empty):focus::before {
	content: '';
	position: absolute;
	top: 0;
	left: -5000px;
	width: 10000px;
	height: 100%;
	z-index: -1;
}

.schedule_tab td:hover::before,
.schedule_tab th:hover::before,
.schedule_tab td:hover::after,
.schedule_tab th:hover::after {
	background: #fffee1;
}

.schedule_tab tbody td:hover {
	background: #fdffc0;
	background: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.batch_tab_box {
	min-height: 414px;
}

.batch_tab th,
.batch_tab td {
	width: 20%;
	width: 16.6%;
	padding: 9px;
}

.batch_tab th:after,
.batch_tab td:after {
	display: none;
}

.batch_tab thead tr:first-child th,
.batch_tab tbody .schedule_day_th,
.batch_tab thead th:hover {
	font-weight: normal;
	background: #f4f4f5!important;
	color: #666!important;
}

.batch_tab tbody .schedule_day_th {
	background: #fff!important;
}

.batch_tab tbody th:hover {
	background: #f4f4f5!important;
	color: #666!important;
}

.batch_tab tbody th {
	background: #fff;
}

.batch_tab tbody td:hover {
	background: transparent;
	box-shadow: none;
}

.batch_tab td:hover::before,
.batch_tab th:hover::before,
.batch_tab td:hover::after,
.batch_tab th:hover::after {
	background: #f4f4f5;
}

.lesson_danger:before,
.lesson_warning:before,
.lesson_pass:before {
	font-size: 20px;
	background: #fff;
	border-radius: 100%;
}

.lesson_danger {
	color: #ff0000;
}

.lesson_warning {
	color: #ffbe00;
}

.lesson_pass {
	color: #2bd231;
}

.lesson_red,
.lesson_green {
	display: block;
	width: 100%;
	height: 100%;
	padding: 1px;
	position: absolute;
	top: -1px;
	left: -1px;
	opacity: 0.9;
}

.lesson_red {
	background: #ff3535;
}

.lesson_green {
	background: #3fe845;
}

.schedule_tit {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.schedule_tit div {
	position: absolute;
	top: 0;
	left: 0;
	color: #4d4d58;
	width: 100%;
	height: 100%;
}

.schedule_tit div:nth-child(1) {
	line-height: 28px;
	text-indent: 49px;
}

.schedule_tit div:nth-child(2) {
	line-height: 91px;
	text-indent: 53px;
}

.schedule_tit div:nth-child(3) {
	line-height: 126px;
	text-indent: 17px;
}

.schedule_tit div:nth-child(4) {
	line-height: 130px;
	text-indent: -46px;
}

.schedule_tit div:after {
	content: "";
	display: inline-block;
	float: left;
	width: 1px;
	height: 200px;
	background: #ddd;
	transform-origin: left top;
}

.schedule_tit div:nth-child(1):after {
	transform: rotate(-63.3deg);
}

.schedule_tit div:nth-child(2):after {
	transform: rotate(-44.8deg);
}

.schedule_tit div:nth-child(3):after {
	transform: rotate(-26.1deg);
}

.schedule_tit div:nth-child(4):after {
	display: none;
}


/*步骤底部信息*/

.step_bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #e6e6e6;
	color: #7b98b7;
	text-align: center;
	padding: 20px 0;
	background: #fafafa;
}

.step_bottom .layui-btn {
	margin: 0 0 0 15px;
}


/*登录页面*/

.layadmin-user-login-icon {
	top: 6px;
	left: 6px;
}

.layui-col-xs7 .layadmin-user-login-icon {
	top: 1px;
	left: 1px;
}

.layadmin-user-login-header {
	padding: 10px 20px;
	font-size: 20px;
	color: #fff;
	text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.layadmin-user-login {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: Auto;
	height: 565px;
	padding: 110px 0;
	min-height: 565px;
	box-sizing: border-box;
}

.layadmin-user-login .layui-input {
	border: 1px solid rgba(255, 255, 255, 0.43);
	background-color: rgba(255, 255, 255, 0.3);
}

.layadmin-user-login .layui-input:focus {
	background: #fff;
	border: 1px solid #fff;
}

.layadmin-user-login .layui-input:focus+.layadmin-user-login-icon {
	color: #1989fa;
}

.layadmin-user-login .layui-input::-webkit-input-placeholder {
	color: #fff!important;
}

.layadmin-user-login .layui-input:-ms-input-placeholder {
	color: #fff!important;
}

.layadmin-user-login .layui-input::-moz-placeholder {
	color: #fff!important;
}

.layadmin-user-login-codeimg {
	border-radius: 2px;
}

.layui-form-checkbox[lay-skin=primary] span {
	color: #fff;
	text-shadow: 0 0 0.5px #000;
}

.layadmin-user-login-icon {
	color: #fff;
}

.login_btn {
	background: #3763d8;
}

.canvas-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	background: -webkit-radial-gradient(#9dcfec, #5a82dc, #0024a7);
	/* Safari 5.1 - 6.0 */
	background: -o-radial-gradient(#9dcfec, #5a82dc, #0024a7);
	/* Opera 11.6 - 12.0 */
	background: -moz-radial-gradient(#9dcfec, #5a82dc, #0024a7);
	/* Firefox 3.6 - 15 */
	background: radial-gradient(#9dcfec, #5a82dc, #0024a7);
	/* 标准的语法 */
	/*background: url(../images/login_bg.jpg);
	background-size: 100% 100%;*/
}

#canvas {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.fr {
	float: right;
}


/*添加屏幕控制*/

@media screen and (max-width: 1024px) {
	.layui-fluid {
		padding: 30px 70px;
	}
}

@media screen and (max-width: 960px) {
	.layui-fluid {
		padding: 30px;
	}
}

@media screen and (max-width: 768px) {
	.layui-fluid {
		padding: 25px;
	}
	.detail_item .user_head,
	.detail_item .user-input-block {
		width: 100%;
		height: auto;
		margin: 0;
	}
	.mix_uploadbox .layui-upload-drag {
		float: none;
		width: 100%;
	}
	.tag_box .layui-field-title {
		border: none;
		margin: 0 0 5px;
	}
	.tag_box .layui-field-title legend {
		font-size: 18px;
		padding: 0;
		margin: 0;
		line-height: 20px;
	}
	.tag_box .breadcrumb_top {
		float: none;
		display: block;
		margin: 10px 0 0;
		padding: 0;
		overflow: hidden;
	}
	#chart .layuiadmin-card-list {
		padding: 15px 0;
	}
	#chart .layuiadmin-card-list p.layuiadmin-normal-font {
		padding: 0 0 5px;
	}
	.fill_box {
		padding: 5px;
	}
	.layui-col-md12 {
		margin: 0;
	}
	.layui-card-body {
		padding: 10px 0;
	}
	.gallery-top-box .swiper-container {
		width: 100%!important;
		height: 300px!important;
		margin: 0!important;
	}
	.gallery-thumbs-box .swiper-container {
		width: 90%!important;
		margin: 0 auto!important;
	}
	.proportion_box_one {
		width: 100%;
		height: auto;
		padding: 0;
	}
	.abs_box {
		position: relative;
		height: auto;
	}
	.abs_box video {
		float: none;
		width: 100%;
		height: auto;
		margin: 0;
	}
	.video_info_tit {
		margin: 10px 0 3px;
	}
	#equip .space20_bg {
		padding: 0;
	}
	#equip .space20_bg .layui-col-xs12:last-child {
		margin: 0;
	}
	.layui-card-body .layui-form-switch {
		margin: 5px 5px 5px 0;
	}
	.layadmin-caller .caller-contar .caller-img {
		margin: 0 10px 0 0;
	}
	.layadmin-caller .caller-contar .caller-item .caller-main {
		padding: 0;
	}
}

@media screen and (min-width:768px) {
	.layui-col-lg1,
	.layui-col-lg10,
	.layui-col-lg11,
	.layui-col-lg12,
	.layui-col-lg2,
	.layui-col-lg3,
	.layui-col-lg4,
	.layui-col-lg5,
	.layui-col-lg6,
	.layui-col-lg7,
	.layui-col-lg8,
	.layui-col-lg9 {
		float: left
	}
	.layui-col-lg1 {
		width: 8.33333333%
	}
	.layui-col-lg2 {
		width: 16.66666667%
	}
	.layui-col-lg3 {
		width: 25%
	}
	.layui-col-lg4 {
		width: 33.33333333%
	}
	.layui-col-lg5 {
		width: 41.66666667%
	}
	.layui-col-lg6 {
		width: 50%
	}
	.layui-col-lg7 {
		width: 58.33333333%
	}
	.layui-col-lg8 {
		width: 66.66666667%
	}
	.layui-col-lg9 {
		width: 75%
	}
	.layui-col-lg10 {
		width: 83.33333333%
	}
	.layui-col-lg11 {
		width: 91.66666667%
	}
	.layui-col-lg12 {
		width: 100%
	}
	.layui-col-lg-offset1 {
		margin-left: 8.33333333%
	}
	.layui-col-lg-offset2 {
		margin-left: 16.66666667%
	}
	.layui-col-lg-offset3 {
		margin-left: 25%
	}
	.layui-col-lg-offset4 {
		margin-left: 33.33333333%
	}
	.layui-col-lg-offset5 {
		margin-left: 41.66666667%
	}
	.layui-col-lg-offset6 {
		margin-left: 50%
	}
	.layui-col-lg-offset7 {
		margin-left: 58.33333333%
	}
	.layui-col-lg-offset8 {
		margin-left: 66.66666667%
	}
	.layui-col-lg-offset9 {
		margin-left: 75%
	}
	.layui-col-lg-offset10 {
		margin-left: 83.33333333%
	}
	.layui-col-lg-offset11 {
		margin-left: 91.66666667%
	}
	.layui-col-lg-offset12 {
		margin-left: 100%
	}
}