<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Recording Device Control -- anyrtc</title>
    <link rel="stylesheet" href="./script/assets/bootstrap.min.css">
    <script th:inline="javascript">
        var apiGateWayHost = [[${apiGateWayHost}]];
    </script>
    <style>
        .col div {
            width: 250px;
            height: 250px;
        }
        .col-sm,.button-group,.col {
            display: inline;
        }
        #remote-playerlist {
            display: inline;
        }
        #remote-playerlist>div {
            float: left;
            margin-left: 40px;
        }
        .player {
            height: 200px!important;
        }
    </style>
</head>
<body>

<div class="container">
    <form id="join-form">
        <div class="row join-info-group">
            <div class="col-sm">
                <span class="join-info-text">AppID</span>
                <input id="appid" type="text" placeholder="enter appid" required
                       value="506215541da2fb4447649b00e75c4d0a">
            </div>
            <div class="col-sm">
                <span class="join-info-text">Token(optional)</span>
                <input id="token" type="text" placeholder="enter token">
            </div>
            <div class="col-sm">
                <span class="join-info-text">Channel</span>
                <input id="channel" type="text" placeholder="enter channel name" required value="test">
            </div>
            <div class="button-group">
                <button id="join" type="submit" class="btn btn-primary btn-sm">Join</button>
                <button id="leave" type="button" class="btn btn-primary btn-sm" disabled>Leave</button>
            </div>
        </div>
    </form>

    <div class="row video-group">
<!--        <div class="col" style="float: left;">-->
<!--            -->
<!--        </div>-->
        <div class="w-100"></div>
        <div class="col">
            <div id="remote-playerlist">
                <div id="player-wrapper-mine">
                <p id="local-player-name" class="player-name"></p>
                <div id="local-player" class="player"></div>
                </div>
<!--                <div id="player-wrapper-20180224">-->
<!--                    <p class="player-name">remoteUser(20180224)</p>-->
<!--                    <div id="player-20180224" class="player"><div id="artc-video-player-51f64" style="width: 100%; height: 100%; position: relative; overflow: hidden; background-color: black;"><video id="video_51f64" class="artc_video_player" autoplay="" playsinline="playsinline" muted="" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; object-fit: cover;"></video></div></div>-->
<!--                </div>-->
<!--                <div id="player-wrapper-201802245">-->
<!--                <p class="player-name">remoteUser(20180224)</p>-->
<!--                <div id="player-201802245" class="player"><div id="artc-video-player-51f64" style="width: 100%; height: 100%; position: relative; overflow: hidden; background-color: black;"><video id="video_51f64" class="artc_video_player" autoplay="" playsinline="playsinline" muted="" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; object-fit: cover;"></video></div></div>-->
<!--            </div>-->
<!--                <div id="player-wrapper-201802246">-->
<!--                <p class="player-name">remoteUser(20180224)</p>-->
<!--                <div id="player-201802246" class="player"><div id="artc-video-player-51f64" style="width: 100%; height: 100%; position: relative; overflow: hidden; background-color: black;"><video id="video_51f64" class="artc_video_player" autoplay="" playsinline="playsinline" muted="" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; object-fit: cover;"></video></div></div>-->
<!--            </div>-->
<!--                <div id="player-wrapper-2018022473">-->
<!--                <p class="player-name">remoteUser(20180224)</p>-->
<!--                <div id="player-201802247" class="player"><div id="artc-video-player-51f64" style="width: 100%; height: 100%; position: relative; overflow: hidden; background-color: black;"><video id="video_51f64" class="artc_video_player" autoplay="" playsinline="playsinline" muted="" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; object-fit: cover;"></video></div></div>-->
<!--            </div>-->
<!--                <div id="player-wrapper-2018022447">-->
<!--                <p class="player-name">remoteUser(20180224)</p>-->
<!--                <div id="player-2018025247" class="player"><div id="artc-video-player-51f64" style="width: 100%; height: 100%; position: relative; overflow: hidden; background-color: black;"><video id="video_51f64" class="artc_video_player" autoplay="" playsinline="playsinline" muted="" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; object-fit: cover;"></video></div></div>-->
<!--            </div>-->
<!--                <div id="player-wrapper-201802247">-->
<!--                <p class="player-name">remoteUser(20180224)</p>-->
<!--                <div id="player-2018022467" class="player"><div id="artc-video-player-51f64" style="width: 100%; height: 100%; position: relative; overflow: hidden; background-color: black;"><video id="video_51f64" class="artc_video_player" autoplay="" playsinline="playsinline" muted="" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; object-fit: cover;"></video></div></div>-->
<!--            </div>-->
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery.cookie.js}"></script>
<script th:src="@{/js/latest.js}"></script>
<script th:src="@{/modules/rtc/test2.js}"></script>
</body>
</html>